{
  "openapi": "3.0.1",
  "info": {
    "title": "Partner API",
    "description": "API's for partners linked applications",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://partner.gupshup.io"
    }
  ],
  "paths": {
    "/partner/app/{appId}/ctx/enable": {
      "post": {
        "summary": "Create CTX Service App",
        "operationId": "enableCtxForPartner",
        "tags": ["Partner's Linked Application"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](/reference/get_partner-app-appid-token) to get the token from partner documentation.",
            "example": "sk_61b3021c97214370b341f8baaae0xxxx",
            "required": true
          },
          {
            "name": "appId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique identifier of the app.",
            "example": "9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callbackUrl": {
                    "type": "string",
                    "example":"https://webhook.site/4e41dae8-305b"
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Asia/Kolkata"
                  },
                  "country": {
                    "type": "string",
                    "example": "IN"
                  },
                  "leadTimeoutDurationMinutes": {
                    "type": "integer",
                    "example": 1440
                  },
                  "dataRetentionDurationDays": {
                    "type": "integer",
                    "example": 30
                  },
                  "defaultKeyword": {
                    "type": "string",
                    "example": "abc"
                  },
                  "defaultGoal": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Buying Luxurious BMW X1 1"
                      },
                      "description": {
                        "type": "string",
                        "example": "description"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["tag1", "tag2"]
                      },
                      "conversionMilestoneIndex": {
                        "type": "integer",
                        "example": 2
                      },
                      "milestones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "milestone-1"
                            },
                            "name": {
                              "type": "string",
                              "example": "Negotiate and Finalize Purchase 1"
                            },
                            "description": {
                              "type": "string",
                              "example": "Select Model, Negotiate Price and Finalize 1"
                            },
                            "trackers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "t1"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "tracker_1"
                                  },
                                  "valueType": {
                                    "type": "string",
                                    "example": "STRING"
                                  },
                                  "replacementType": {
                                    "type": "string",
                                    "example": "LATEST"
                                  },
                                  "defaultValue": {
                                    "type": "integer",
                                    "example": 1
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "defaultRetargetingSchedule": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "default_retargeting_schedule_1"
                      },
                      "retargetingIntervals": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "trigger": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "TIME_FIXED_INTERVAL"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 3600000
                                },
                                "comparator": {
                                  "type": "string",
                                  "example": "<"
                                },
                                "milestoneIndex": {
                                  "type": "integer",
                                  "example": 1
                                }
                              }
                            },
                            "action": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "WA_TEMPLATE_MESSAGE"
                                },
                                "templateId": {
                                  "type": "string",
                                  "example": "84c4cd37-8038-4f4f-8250-85e0fad2514b"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableContextResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EnableContextResponse": {
    "type": "object",
    "properties": {
      "serviceId": {
        "type": "string"
      },
      "defaultGoalId": {
        "type": "string"
      },
      "defaultGoalVersionId": {
        "type": "string"
      },
      "defaultRetargetingScheduleId": {
        "type": "string"
      },
      "ctxServiceApiKey": {
        "type": "string"
      },
      "ctxServiceUserApiKey": {
        "type": "string"
      },
      "initialised": {
        "type": "boolean"
      }
    }
  },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "An error occurred"
          }
        }
      }
    }
  }
}