{
  "openapi": "3.0.1",
  "info": {
    "title": "Partner Portal API",
    "description": "Partner Portal API documentation",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.gupshup.io"
    },
    "version": "3.0.0-SNAPSHOT"
  },
  "externalDocs": {
    "description": "Gupshup Wiki Documentation",
    "url": "https://www.gupshup.io/partner/docs"
  },
  "servers": [
    {
      "url": "https://partner.gupshup.io/partner",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Flow management",
      "description": "API's for partners flow management"
    }
  ],
  "paths": {
    "/app/{appId}/flows/{flowId}/assets": {
      "get": {
        "tags": [
          "Flow management"
        ],
        "summary": "Get Flow Json",
        "operationId": "getflowjson",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Flow management"
        ],
        "summary": "Update Flow Json",
        "operationId": "updateflowjson",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Json file to be updated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "validation_errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/flows": {
      "get": {
        "tags": [
          "Flow management"
        ],
        "summary": "Get All Flow api",
        "operationId": "getallflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Flow management"
        ],
        "summary": "Create Flow api",
        "operationId": "createflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/flows/{flowId}/preview": {
      "get": {
        "tags": [
          "Flow management"
        ],
        "summary": "Get preview URL",
        "operationId": "getpreviewurl",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewURLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/flows/{flowId}": {
      "get": {
        "tags": [
          "Flow management"
        ],
        "summary": "Get Flow api",
        "operationId": "getflowbyid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Flow management"
        ],
        "summary": "Update flow",
        "operationId": "updateflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFlowResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Flow management"
        ],
        "summary": "Delete flow",
        "operationId": "deleteflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFlowJsonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/flows/{flowId}/deprecate": {
      "post": {
        "tags": [
          "Flow management"
        ],
        "summary": "Deprecate flow api",
        "operationId": "deprecateflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeprecateFlowJsonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/flows/{flowId}/publish": {
      "post": {
        "tags": [
          "Flow management"
        ],
        "summary": "Publish flow",
        "operationId": "publishflow",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app token, please refer [**Get access token api**](https://partner-docs.gupshup.io/reference/get_partner-app-appid-token#/) to get the token from partner documentation.",
            "example": "sk_345095d735c64a8ab2f97a92e953xxxx"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app.",
            "example": "a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow Id generated by Meta",
            "example": "90381197123xxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishFlowJsonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "required": [
          "entity",
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "Status Code",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the reason "
          },
          "details": {
            "type": "string",
            "description": "Developer specific error details "
          },
          "code": {
            "type": "string",
            "description": "Internal Error Code",
            "default": "PP-ERR-XXX"
          },
          "entity": {
            "type": "object",
            "description": "Response Object"
          }
        },
        "description": "Error"
      },
      "SuccessResponse": {
        "type": "object"
      },
      "PartnerCommissionRecurringDetailsDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "customerId": {
            "type": "string"
          },
          "createdOn": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedOn": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedBy": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          },
          "walletName": {
            "type": "string"
          }
        }
      },
      "PartnerCommissionRecurringDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerCommissionRecurringDetails": {
            "$ref": "#/components/schemas/PartnerCommissionRecurringDetailsDTO"
          }
        }
      },
      "PartnerCommissionRecurringResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "partnerCommissionRecurringDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerCommissionRecurringDetailsDTO"
            }
          }
        }
      },
      "MultiValueMapStringString": {
        "type": "object",
        "properties": {
          "all": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "writeOnly": true
          },
          "empty": {
            "type": "boolean"
          }
        },
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "PartnerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "PartnerSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "UpdateFlowJsonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FlowRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateFlowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "PartnerCappingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "Success": {
            "type": "string"
          }
        }
      },
      "Callback": {
        "type": "object",
        "properties": {
          "custom": {
            "type": "boolean"
          },
          "modes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CallbackResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "callback": {
            "$ref": "#/components/schemas/Callback"
          }
        }
      },
      "PartnerBusinessProfilePhotoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "About": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "PartnerBusinessProfileAboutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "about": {
            "$ref": "#/components/schemas/About"
          }
        }
      },
      "PartnerBusinessProfileResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          },
          "pinCode": {
            "type": "integer",
            "format": "int32"
          },
          "profileEmail": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "vertical": {
            "type": "string"
          },
          "website1": {
            "type": "string"
          },
          "website2": {
            "type": "string"
          }
        }
      },
      "PartnerSuccessMsgResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "UpdateFlowJson": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "WalletPlanChangeRequest": {
        "type": "object",
        "properties": {
          "walletId": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "loader",
              "normal",
              "commission"
            ]
          },
          "customerIdentifier": {
            "type": "integer",
            "format": "int64"
          },
          "timeStamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UpdateBillingDetailsRequest": {
        "type": "object",
        "properties": {
          "walletId": {
            "type": "string"
          },
          "skipDeduction": {
            "type": "boolean"
          },
          "requestId": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string"
          },
          "modifiedAt": {
            "type": "string"
          }
        }
      },
      "PartnerWalletEventResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          }
        }
      },
      "PartnerAppSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "app": {
            "$ref": "#/components/schemas/PartnerApps"
          }
        }
      },
      "PartnerApps": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "billingType": {
            "type": "string",
            "enum": [
              "PREPAID",
              "POSTPAID"
            ]
          },
          "email": {
            "type": "string"
          },
          "live": {
            "type": "boolean"
          },
          "preferredTimezone": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "solutionId": {
            "type": "string"
          },
          "createdOn": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedOn": {
            "type": "integer",
            "format": "int64"
          },
          "storageRegion": {
            "type": "string"
          },
          "partnerCreated": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "cxpEnabled": {
            "type": "boolean"
          },
          "partnerUsage": {
            "type": "boolean"
          },
          "customerOrgId": {
            "type": "string"
          },
          "stopped": {
            "type": "boolean"
          },
          "healthy": {
            "type": "boolean"
          },
          "nameSpace": {
            "type": "string"
          },
          "cap": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "GoLiveDetails": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "waId": {
            "type": "string"
          }
        }
      },
      "GoLiveEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/GoLiveEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "GoLiveEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/GoLiveDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "DockerDetails": {
        "type": "object",
        "properties": {
          "oldLimit": {
            "type": "string"
          },
          "currentLimit": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "DockerEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/DockerEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "DockerEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/DockerDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "DeleteAppDetails": {
        "type": "object",
        "properties": {
          "live": {
            "type": "boolean"
          }
        }
      },
      "DeleteAppEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/DeleteAppEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "DeleteAppEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/DeleteAppDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactNumber": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "BusinessEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/BusinessEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "BusinessEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AppDetails": {
        "type": "object",
        "properties": {
          "billingType": {
            "type": "string",
            "enum": [
              "PREPAID",
              "POSTPAID"
            ]
          },
          "callbackUrl": {
            "type": "string"
          },
          "createdOn": {
            "type": "integer",
            "format": "int64"
          },
          "customerId": {
            "type": "string"
          },
          "disableOptinPrefUrl": {
            "type": "boolean"
          },
          "embedAllowed": {
            "type": "boolean"
          },
          "federated": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "live": {
            "type": "boolean"
          },
          "liveTs": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedOn": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "stopped": {
            "type": "boolean"
          },
          "storageRegion": {
            "type": "string"
          },
          "templateMessaging": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AppEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/AppEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AppEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/AppDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PartnerUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "PartnerUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerUser": {
            "$ref": "#/components/schemas/PartnerUser"
          }
        }
      },
      "TppOnboardedAppStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "HandleId": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "UploadTemplateMediaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "handleId": {
            "$ref": "#/components/schemas/HandleId"
          }
        }
      },
      "PartnerTemplateMsgResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "messageId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CreateTemplateLibraryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "$ref": "#/components/schemas/Templates"
          }
        }
      },
      "Templates": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "buttonSupported": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "containerMeta": {
            "type": "string"
          },
          "createdOn": {
            "type": "integer",
            "format": "int64"
          },
          "data": {
            "type": "string"
          },
          "elementName": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "languagePolicy": {
            "type": "string"
          },
          "meta": {
            "type": "string"
          },
          "modifiedOn": {
            "type": "integer",
            "format": "int64"
          },
          "namespace": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "templateType": {
            "type": "string"
          },
          "wabaId": {
            "type": "string"
          }
        }
      },
      "PublishFlowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "DeprecateFlowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Flow": {
        "type": "object",
        "properties": {
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "json_version": {
            "type": "string"
          },
          "data_api_version": {
            "type": "string"
          },
          "endpoint_uri": {
            "type": "string"
          },
          "preview": {
            "$ref": "#/components/schemas/Preview"
          },
          "whatsapp_business_account": {
            "$ref": "#/components/schemas/WhatsappBusinessAccount"
          },
          "application": {
            "$ref": "#/components/schemas/SsApplication"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Preview": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string"
          },
          "preview_url": {
            "type": "string"
          }
        }
      },
      "SsApplication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "WhatsappBusinessAccount": {
        "type": "object",
        "properties": {
          "message_template_namespace": {
            "type": "string"
          },
          "timezone_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "PartnerBulkUploadOptinResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "jobId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PartnerCreateAppResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          }
        }
      },
      "PartnerLogoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "PartnerProjectSuccessResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int32"
          },
          "appId": {
            "type": "string"
          }
        }
      },
      "PartnerBusinessSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          }
        }
      },
      "PartnerAppsSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerApps": {
            "$ref": "#/components/schemas/PartnerApps"
          }
        }
      },
      "PartnerLoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "terms_read": {
            "type": "boolean"
          },
          "admin": {
            "type": "boolean"
          },
          "email": {
            "type": "string"
          },
          "activationRead": {
            "type": "boolean"
          },
          "billingType": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "enableCustomer": {
            "type": "boolean"
          },
          "enableWallet": {
            "type": "boolean"
          },
          "enableInrWallet": {
            "type": "boolean"
          },
          "enableLoaderWallet": {
            "type": "boolean"
          },
          "enableAppOnboarding": {
            "type": "boolean"
          },
          "isTpp": {
            "type": "boolean"
          },
          "onboardEnabled": {
            "type": "boolean"
          }
        }
      },
      "CreateJsonToPartnerObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "linked": {
            "type": "boolean"
          }
        }
      },
      "LinkAppToPartnerSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partner": {
            "$ref": "#/components/schemas/CreateJsonToPartnerObject"
          }
        }
      },
      "CreatePartnerAccountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "spoc": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          },
          "prSource": {
            "type": "string"
          },
          "regBatch": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "sendOtp": {
            "type": "boolean"
          },
          "jobTitle": {
            "type": "string"
          },
          "companySize": {
            "type": "string"
          }
        }
      },
      "CreateTemplateLibrary": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "$ref": "#/components/schemas/Templates"
          }
        }
      },
      "PublishFlowJsonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "DeprecateFlowJsonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "EventDetails": {
        "type": "object",
        "properties": {
          "wabaId": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "ownerBusinessId": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "solutionPartnerBusinessIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PartnerAddedEvent": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/PartnerAddedEventDetails"
          },
          "app": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PartnerAddedEventDetails": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/EventDetails"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PartnerUserListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerUsersList"
            }
          }
        }
      },
      "PartnerUsersList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "CurrencyCommission": {
        "type": "object",
        "properties": {
          "totalCommission": {
            "type": "number",
            "format": "double"
          },
          "totalPaidCommission": {
            "type": "number",
            "format": "double"
          },
          "totalUnPaidCommission": {
            "type": "number",
            "format": "double"
          },
          "totalProcessingCommission": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PartnerCommissionSummaryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "currencyCommissionMap": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CurrencyCommission"
            }
          }
        }
      },
      "PartnerCommissionBreakdown": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "gsBilling": {
            "type": "number",
            "format": "double"
          },
          "commission": {
            "type": "number",
            "format": "double"
          },
          "year": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "PartnerCommissionBreakdownResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "commissionBreakdownList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerCommissionBreakdown"
            }
          }
        }
      },
      "CommissionAverage": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "monthlyAverages": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "PartnerCommissionAverageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "commissionAverage": {
            "$ref": "#/components/schemas/CommissionAverage"
          }
        }
      },
      "PartnerCommissionNewResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "partnerName": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "commission": {
            "type": "number",
            "format": "double"
          },
          "year": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "creditedBy": {
            "type": "string"
          },
          "creditedOn": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "PROCESSING",
              "PENDING",
              "PAID",
              "EXPIRED",
              "NA"
            ]
          },
          "customerId": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "NONE",
              "WALLET",
              "EBANX",
              "WIRE_TRANSFER"
            ]
          },
          "currency": {
            "type": "string"
          },
          "walletName": {
            "type": "string"
          }
        }
      },
      "PartnerCommissionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "commissionList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerCommissionNewResponse"
            }
          }
        }
      },
      "PartnerWalletBalance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "currentBalance": {
            "type": "number",
            "format": "double"
          },
          "overDraftLimit": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PartnerWalletBalanceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "walletResponse": {
            "$ref": "#/components/schemas/PartnerWalletBalance"
          }
        }
      },
      "UserStatus": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "appId": {
            "type": "string"
          },
          "blocked": {
            "type": "boolean"
          },
          "countryCode": {
            "type": "string"
          },
          "dialCode": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UserStatusResponse": {
        "type": "object",
        "properties": {
          "userStatus": {
            "$ref": "#/components/schemas/UserStatus"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PartnerAppUsageList": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "authentication": {
            "type": "integer",
            "format": "int32"
          },
          "cumulativeBill": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "discount": {
            "type": "number",
            "format": "float"
          },
          "fep": {
            "type": "integer",
            "format": "int32"
          },
          "ftc": {
            "type": "integer",
            "format": "int32"
          },
          "gsCap": {
            "type": "number",
            "format": "float"
          },
          "gsFees": {
            "type": "number",
            "format": "float"
          },
          "incomingMsg": {
            "type": "integer",
            "format": "int32"
          },
          "outgoingMsg": {
            "type": "integer",
            "format": "int32"
          },
          "outgoingMediaMsg": {
            "type": "integer",
            "format": "int32"
          },
          "marketing": {
            "type": "integer",
            "format": "int32"
          },
          "service": {
            "type": "integer",
            "format": "int32"
          },
          "templateMsg": {
            "type": "integer",
            "format": "int32"
          },
          "templateMediaMsg": {
            "type": "integer",
            "format": "int32"
          },
          "totalFees": {
            "type": "number",
            "format": "float"
          },
          "totalMsg": {
            "type": "integer",
            "format": "int32"
          },
          "utility": {
            "type": "integer",
            "format": "int32"
          },
          "waFees": {
            "type": "number",
            "format": "float"
          },
          "internationalAuthentication": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PartnerAppUsageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerAppUsageList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerAppUsageList"
            }
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "authoriserId": {
            "type": "string"
          },
          "requestorId": {
            "type": "string"
          },
          "createdOn": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedOn": {
            "type": "integer",
            "format": "int64"
          },
          "expiresOn": {
            "type": "integer",
            "format": "int64"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "PartnerAppResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "token": {
            "$ref": "#/components/schemas/AccessToken"
          }
        }
      },
      "PartnerTimeZoneResponse": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          }
        }
      },
      "PartnerTemplateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "containerMeta": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "elementName": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "usecase": {
            "type": "string"
          }
        }
      },
      "GetTemplatesLibraryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "PartnerRatingsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "oldLimit": {
            "type": "string"
          },
          "currentLimit": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "eventTime": {
            "type": "integer",
            "format": "int32"
          },
          "phoneQuality": {
            "type": "string"
          }
        }
      },
      "PartnerAppOnBoardingResponse": {
        "type": "object",
        "properties": {
          "isLive": {
            "type": "string"
          },
          "isEmbed": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DockerHealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "healthy": {
            "type": "string"
          }
        }
      },
      "PREVIEW": {
        "type": "object",
        "properties": {
          "expires_at": {
            "type": "string"
          },
          "preview_url": {
            "type": "string"
          }
        }
      },
      "PreviewURLSuccessResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "preview": {
            "$ref": "#/components/schemas/PREVIEW"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "EmbedSignedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "DailyAppDiscountList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "appId": {
            "type": "string"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "gsFees": {
            "type": "number",
            "format": "double"
          },
          "gsCap": {
            "type": "number",
            "format": "double"
          },
          "dailyBill": {
            "type": "number",
            "format": "double"
          },
          "cumulativeBill": {
            "type": "number",
            "format": "double"
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "year": {
            "type": "integer",
            "format": "int32"
          },
          "month": {
            "type": "integer",
            "format": "int32"
          },
          "day": {
            "type": "integer",
            "format": "int32"
          },
          "cxPricingEnabled": {
            "type": "boolean"
          }
        }
      },
      "PartnerAppWiseDiscountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "dailyAppDiscountList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyAppDiscountList"
            }
          }
        }
      },
      "PartnerAppDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "app": {
            "type": "string"
          },
          "appDetails": {
            "$ref": "#/components/schemas/AppDetails"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "failedCount": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "successCount": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PartnerGetBulkUploadOptinResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "job": {
            "$ref": "#/components/schemas/Job"
          }
        }
      },
      "AppDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "app": {
            "$ref": "#/components/schemas/AppDetails"
          }
        }
      },
      "PartnerOrganizations": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "organizationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PartnerDomainMsgResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "PartnerCustomer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "organizationId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "appCount": {
            "type": "integer",
            "format": "int32"
          },
          "appHealth": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "liveAppCount": {
            "type": "integer",
            "format": "int32"
          },
          "sandboxAppCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PartnerCustomers": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "lastMonthCount": {
            "type": "integer",
            "format": "int32"
          },
          "currentMonthCount": {
            "type": "integer",
            "format": "int32"
          },
          "customerList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerCustomer"
            }
          }
        }
      },
      "PartnerAppUsage": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "incomingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateWAMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "uic": {
            "type": "integer",
            "format": "int64"
          },
          "bic": {
            "type": "integer",
            "format": "int64"
          },
          "fep": {
            "type": "integer",
            "format": "int64"
          },
          "ftc": {
            "type": "integer",
            "format": "int64"
          },
          "totalMsg": {
            "type": "integer",
            "format": "int64"
          },
          "gsFees": {
            "type": "number",
            "format": "double"
          },
          "waFees": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "waUtc": {
            "type": "integer",
            "format": "int64"
          },
          "waAuc": {
            "type": "integer",
            "format": "int64"
          },
          "waMktc": {
            "type": "integer",
            "format": "int64"
          },
          "waSvc": {
            "type": "integer",
            "format": "int64"
          },
          "gsUtc": {
            "type": "integer",
            "format": "int64"
          },
          "gsAuc": {
            "type": "integer",
            "format": "int64"
          },
          "gsMktc": {
            "type": "integer",
            "format": "int64"
          },
          "gsSvc": {
            "type": "integer",
            "format": "int64"
          },
          "waSvcFtc": {
            "type": "integer",
            "format": "int64"
          },
          "cxIncomingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "cxOutgoingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "cxOutgoingMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "cxTemplateMsg": {
            "type": "integer",
            "format": "int64"
          },
          "cxTemplateMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "waIntAuc": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PartnerAppUsageAnalyticResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "usageSummary": {
            "$ref": "#/components/schemas/PartnerAppUsage"
          },
          "usageSummaryList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerAppUsage"
            }
          },
          "partnerAppUsageList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerAppUsage"
            }
          }
        }
      },
      "PartnerAppUsageConversationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "conversationVolumes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "totalConversations": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MonthWiseUsageSummary": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string"
          },
          "bic": {
            "type": "integer",
            "format": "int64"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "fep": {
            "type": "integer",
            "format": "int64"
          },
          "ftc": {
            "type": "integer",
            "format": "int64"
          },
          "gsFees": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "incomingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "liveApps": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "sandboxApps": {
            "type": "integer",
            "format": "int64"
          },
          "templateMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateWAMsg": {
            "type": "integer",
            "format": "int64"
          },
          "totalMsg": {
            "type": "integer",
            "format": "int64"
          },
          "uic": {
            "type": "integer",
            "format": "int64"
          },
          "waFees": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "newCategoryEnabled": {
            "type": "boolean"
          },
          "utc": {
            "type": "integer",
            "format": "int64"
          },
          "auc": {
            "type": "integer",
            "format": "int64"
          },
          "intAuc": {
            "type": "integer",
            "format": "int64"
          },
          "mktc": {
            "type": "integer",
            "format": "int64"
          },
          "svc": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PartnerAppUsageCustomerAnalyticResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "usageSummary": {
            "$ref": "#/components/schemas/MonthWiseUsageSummary"
          }
        }
      },
      "PartnerAppUsageAppDateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerAppUsageList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerAppUsageData"
            }
          }
        }
      },
      "PartnerAppUsageData": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "bic": {
            "type": "integer",
            "format": "int64"
          },
          "cumulativeBill": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "discount": {
            "type": "number",
            "format": "double"
          },
          "fep": {
            "type": "integer",
            "format": "int64"
          },
          "ftc": {
            "type": "integer",
            "format": "int64"
          },
          "gsCap": {
            "type": "number",
            "format": "double"
          },
          "gsFees": {
            "type": "number",
            "format": "double"
          },
          "incomingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMsg": {
            "type": "integer",
            "format": "int64"
          },
          "outgoingMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateMsg": {
            "type": "integer",
            "format": "int64"
          },
          "templateMediaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "totalFees": {
            "type": "number",
            "format": "double"
          },
          "totalMsg": {
            "type": "integer",
            "format": "int64"
          },
          "uic": {
            "type": "integer",
            "format": "int64"
          },
          "waFees": {
            "type": "number",
            "format": "double"
          },
          "authentication": {
            "type": "integer",
            "format": "int64"
          },
          "marketing": {
            "type": "integer",
            "format": "int64"
          },
          "service": {
            "type": "integer",
            "format": "int64"
          },
          "utility": {
            "type": "integer",
            "format": "int64"
          },
          "internationalAuthentication": {
            "type": "integer",
            "format": "int64"
          },
          "newCategoryEnabled": {
            "type": "boolean"
          },
          "partnerId": {
            "type": "integer",
            "format": "int32"
          },
          "templateWaMsg": {
            "type": "integer",
            "format": "int64"
          },
          "customerId": {
            "type": "string"
          }
        }
      },
      "PartnerAppUsageAppCountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "appCount": {
            "type": "integer",
            "format": "int32"
          },
          "appCountActive": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PartnerAppUsageAppLinkedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "appsLinked": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PartnerAppIDAndNameSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partner": {
            "$ref": "#/components/schemas/CreateJsonToPartnerObject"
          }
        }
      },
      "PartnerDetailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "verified": {
            "type": "boolean"
          },
          "activationRead": {
            "type": "boolean"
          },
          "termsRead": {
            "type": "boolean"
          },
          "isPartnerCustomerEnabled": {
            "type": "boolean"
          },
          "isAppOnboardingEnabled": {
            "type": "boolean"
          },
          "isAppAllowedOnPrem": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "minDiscount": {
            "type": "integer",
            "format": "int32"
          },
          "spoc": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "isWalletEnabled": {
            "type": "boolean"
          },
          "isInrWalletEnabled": {
            "type": "boolean"
          },
          "isLoaderWalletEnabled": {
            "type": "boolean"
          },
          "contactEmail": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "companySize": {
            "type": "string"
          },
          "PRSource": {
            "type": "string"
          },
          "regBatch": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "category": {
            "type": "integer",
            "format": "int32"
          },
          "partnerOrgDomain": {
            "type": "string"
          },
          "billingType": {
            "type": "string"
          }
        }
      },
      "PartnerDetailsSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "partnerDetails": {
            "$ref": "#/components/schemas/PartnerDetailsResponse"
          }
        }
      },
      "GetTemplatesLibrary": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "PreviewURLResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "preview": {
            "$ref": "#/components/schemas/PREVIEW"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DeleteFlowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "DeleteFlowJsonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      }
    }
  }
}