{"openapi":"3.0.1","info":{"title":"Onboarding Api","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"paths":{"/partner/app":{"post":{"summary":"Create application from Partner Portal","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"App Name","example":"TestApp"},"templateMessaging":{"type":"boolean","example":"true","description":"default true"},"disableOptinPrefUrl":{"type":"boolean","example":"true","description":"default true"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."}],"responses":{"200":{"$ref":"#/components/responses/create_App"},"400":{"$ref":"#/components/responses/create_App_400"},"409":{"$ref":"#/components/responses/bot_already_exists"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}":{"put":{"summary":"Update application from Partner Portal","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"templateMessaging":{"type":"boolean","example":"false"},"storageRegion":{"type":"string","example":"FBC"},"disableOptinPrefUrl":{"type":"boolean","example":"false"},"languageCode":{"type":"boolean","example":"false"},"enableRedis":{"type":"boolean","example":"false"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/update_App"},"400":{"$ref":"#/components/responses/update_app_400"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/list":{"get":{"summary":"Filter and get list of app for the partner","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"name","in":"query","schema":{"type":"string"},"example":"testApp"},{"name":"phone","in":"query","schema":{"type":"string"},"example":"1234567890"},{"name":"pageNo","in":"query","schema":{"type":"integer"},"example":"1"},{"name":"pageSize","in":"query","schema":{"type":"integer"},"example":"10"}],"responses":{"200":{"$ref":"#/components/responses/get_list_of_app"},"401":{"$ref":"#/components/responses/list_app_401"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/details":{"get":{"summary":"Get app details based on appId","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/get_app_details_based_on_appId"},"401":{"$ref":"#/components/responses/list_app_401"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/callback":{"put":{"summary":"Set callback for an app id","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["url","modes"],"type":"object","properties":{"url":{"type":"string","example":"https://test.io"},"directForwarding":{"type":"boolean","example":"false"},"notifyWithPhone":{"type":"boolean","example":"false"},"modes":{"type":"string","example":"SENT,DELETED,DELIVERED,READ"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/set_callback_url"},"400":{"$ref":"#/components/responses/set_callback_url_400"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/onboarding/contact":{"put":{"summary":"Set contact details for an app","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["contactEmail","contactName","contactNumber"],"properties":{"contactEmail":{"type":"string","example":"test@gmail.com"},"contactName":{"type":"string","example":"contact name"},"contactNumber":{"type":"integer","example":"1234567890"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/set_contact_details_for_an_app"},"400":{"$ref":"#/components/responses/set_contact_details_400"},"401":{"$ref":"#/components/responses/set_contact_401"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/onboarding/contact/email/resend":{"post":{"summary":"Resend verification link","requestBody":{"content":{}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/resend_verification_link"},"400":{"$ref":"#/components/responses/resend_verification_400"},"401":{"$ref":"#/components/responses/set_contact_401"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/onboarding/embed/link":{"get":{"summary":"Generate embed signed link","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"regenerate","in":"query","schema":{"type":"boolean"},"example":"true"},{"name":"user","in":"query","schema":{"type":"string"},"example":"user name","required":true},{"name":"lang","in":"query","schema":{"type":"string"},"example":"English"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/generate_embed_signed_link"},"400":{"$ref":"#/components/responses/generate_embed_link_400"},"401":{"$ref":"#/components/responses/set_contact_401"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/enerate_embed_link_500"}}}},"/partner/app/{appId}/onboarding/phoneMigration":{"post":{"summary":"Mark App for Migration","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["migrationStatus"],"properties":{"migrationStatus":{"type":"string","example":"META_EMBED_MIGRATION/MIGRATED_IN"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}","required":true,"description":"Your partner token, please refer [**partner token api**](https://docs.gupshup.io/reference/post_partner-account-login) to get the token from partner documentation."},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/phone_migration_200"},"400":{"$ref":"#/components/responses/phone_migration_400"},"401":{"$ref":"#/components/responses/set_contact_401"},"429":{"$ref":"#/components/responses/429"}}}}},"components":{"responses":{"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status":"error","message":"Too Many Requests"}}}},"create_App":{"description":"Successful Response","content":{"application/json":{"example":{"appId":"<app_id>"}}}},"update_App":{"description":"Successful Response","content":{"application/json":{"example":{"app":{"billingType":"PREPAID","callbackUrl":"<callback url>","createdOn":1684422179820,"disableOptinPrefUrl":false,"embedAllowed":true,"federated":false,"id":"<app_id>","languageCode":"en_US","live":false,"liveTs":0,"modifiedOn":1686913018936,"name":"<app name>","stopped":false,"storageRegion":"<storage_region>","templateMessaging":false,"type":"apicallbackpost","version":2},"status":"success"}}}},"get_list_of_app":{"description":"Successful Response","content":{"application/json":{"example":{"apps":[{"id":"<app_id>","name":"<app_name>","type":"<app_type>","live":"<true/false>","phone":"<phone_number_with_country_code>","stopped":"<true/false>","storageRegion":"<IN,DE>","uiFormStage":"<>","pipelineStage":"<>","creationStage":"<>","whatsappVerificationStatus":"<>","version":"<0,1,2>","products":["ANALYTICS","CUSTOMER_SUPPORT"],"createdOn":"<epoch_timestamp>","modifiedOn":"<epoch_timestamp>"}],"status":"success"}}}},"get_app_details_based_on_appId":{"description":"Successful Response","content":{"application/json":{"example":{"app":{"billingType":"PREPAID","callbackUrl":"<callback_url>","createdOn":1684422179820,"disableOptinPrefUrl":false,"embedAllowed":true,"federated":false,"id":"<app_id>","languageCode":"en_US","live":false,"liveTs":0,"modifiedOn":1686895050756,"name":"<app_name>","stopped":false,"storageRegion":"FBC","templateMessaging":false,"type":"apicallbackpost","version":2},"status":"success"}}}},"set_callback_url":{"description":"Successful Response","content":{"application/json":{"example":{"callback":{"custom":true,"modes":["<modes>"],"url":"<URL>"},"status":"success"}}}},"set_contact_details_for_an_app":{"description":"Successful Response","content":{"application/json":{"example":{"status":"success","message":"contact details updated succesfully"}}}},"resend_verification_link":{"description":"Successful Response","content":{"application/json":{"example":{"status":"success","message":"mail sent successfully"}}}},"generate_embed_signed_link":{"description":"Successful Response","content":{"application/json":{"example":{"status":"success","link":"<embed_link>"}}}},"bot_already_exists":{"description":"Conflict Request","content":{"application/json":{"example":{"status":"error","message":"Bot Already Exists"}}}},"create_App_400":{"description":"Bad Request","content":{"application/json":{"examples":{"Invalid character":{"value":{"status":"error","message":"Invalid characters used in app name"}},"App name length":{"value":{"status":"error","message":"App name should be between 6 to 150 charecters in length"}}}}}},"update_app_400":{"description":"Bad Request","content":{"application/json":{"examples":{"Cannot Change Region":{"value":{"status":"error","message":"Cannot Change Region After Go live"}},"Invalid Region":{"value":{"status":"error","message":"Invalid Region Passed"}},"No fileds are passed":{"value":{"status":"error","message":"Fields to be updated not provided."}}}}}},"list_app_401":{"description":"Unauthorized Access","content":{"application/json":{"example":{"status":"error","message":"Unauthorized Access"}}}},"set_callback_url_400":{"description":"Bad Request","content":{"application/json":{"example":{"status":"error","message":"Invalid App Details Passed"}}}},"set_contact_details_400":{"description":"Bad Request","content":{"application/json":{"examples":{"Invalid app id":{"value":{"status":"error","message":"Invalid app id provided"}},"Invalid details":{"value":{"status":"error","message":"Please provide valid details"}}}}}},"set_contact_401":{"description":"Unauthorized Access","content":{"application/json":{"example":{"status":"error","message":"Authentication Failed"}}}},"resend_verification_400":{"description":"Bad Request","content":{"application/json":{"examples":{"Email is already Verified":{"value":{"status":"error","message":"Email is already Verified For This Container"}},"Please set business email first":{"value":{"status":"error","message":"Please set business email first"}}}}}},"generate_embed_link_400":{"description":"Bad Request","content":{"application/json":{"examples":{"Query Params cannot be empty":{"value":{"status":"error","message":"Query Params cannot be empty"}},"Max Links Already sent":{"value":{"status":"error","message":"Max Links Already sent, please contact support at devsupport@gupshup.io"}},"Link has expired":{"value":{"status":"error","message":"Link has expired, please regenerate link"}}}}}},"enerate_embed_link_500":{"description":"Internal Server Error","content":{"application/json":{"examples":{"Unable to create link":{"value":{"status":"error","message":"Unable to create link"}},"Unable to get link":{"value":{"status":"error","message":"Unable to get link"}},"Max link already sent":{"value":{"status":"error","message":"Max link already sent"}}}}}},"phone_migration_200":{"description":"Successful Response","content":{"application/json":{"example":{"status":"success","whatsapp":{"businessId":"*******","countryCode":91,"createdOn":1713430478907,"creationStage":"DOCKER_PROVISIONING","dialCode":"*****","displayName":"appName","embedLiveCheckTimestamp":0,"embedStage":"EMBED_PHONE_SELECTION","fbBusinessId":"******","fbVerificationBypassed":false,"formattedPhoneNumber":"******","goLiveProcessRequestEmailSent":false,"id":"<appId>","lastPNDNCheckTimestamp":0,"lastWABACheckTimestamp":0,"migrationStatus":"META_EMBED_MIGRATION","migrationTime":1719297738982,"modifiedOn":1719297738982,"normalizedPhoneNumber":"****","pipeLineStage":"GET_CERTIFICATE","pndnApprovalTimestamp":0,"preferredCurrency":"INR","preferredLocale":"en_US","preferredTimezone":"71","providedAccessToGupshup":false,"regionCode":"IN","stageRetries":0,"uiFormStage":"GO_LIVE_FLOW_SELECTED","wabaApprovalTimestamp":0,"whatsappVerificationStatus":"WABA_APPROVED"}}}}},"phone_migration_400":{"description":"Bad Request","content":{"application/json":{"example":{"status":"error","message":"Please provide valid details"}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}