{"openapi":"3.0.1","info":{"title":"Partner WhatsApp Pay Apis","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"tags":[{"name":"Order Details"}],"paths":{"/partner/app/{appId}/templates":{"post":{"tags":["Order Details"],"summary":"Create Order details template","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["elementName","content","category","vertical","templateType","example","sendAsOrderDetails",""],"properties":{"elementName":{"type":"string","description":"elementName (not more than 180 char.) Mandatory fields","example":"{{ELEMENT_NAME}}"},"languageCode":{"type":"string","description":"languageCode default value : en_US","example":"{{LANGUAGE_CODE}}"},"content":{"type":"string","description":"content (not more than 1024 char.)","example":"{{CONTENT}}"},"category":{"type":"string","description":"Category Type: \nMust always be UTILITY","example":"{{CATEGORY}}"},"vertical":{"type":"string","description":"vertical (not more than 180 char.)","example":"{{VERTICAL}}"},"templateType":{"type":"string","description":"Must be TEXT or IMAGE\n\nIf IMAGE, header and exampleHeader should not be passed.\n\nIf TEXT, mediaId should not passed","example":"{{TEMPLATE_TYPE}}"},"example":{"type":"string","description":"for params used in header","example":"{{EXAMPLE}}"},"exampleHeader":{"type":"string","example":"{{EXAMPLE_HEADER}}"},"header":{"type":"string","description":"template header is compulsory for text template","example":"{{HEADER}}"},"footer":{"type":"string","example":"{{FOOTER}}"},"sendAsOrderDetails":{"type":"string","description":"It needs to be true to create Order Details templates","example":"{{SEND_AS_ORDER_DETAIL}}"},"mediaId":{"type":"string","description":"If the template type is IMAGE","example":"{{MEDIAID}}"}}}}}},"parameters":[{"name":"token","in":"header","required":true,"schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"ceb2b861-24f6-406c-901f-3f788e02f5ea"},"category":{"type":"string","example":"UTILITY"},"containerMeta":{"type":"string","example":"{\"appId\":\"ceb2b861-24f6-406c-901f-3f788e02f5ea\",\"data\":\"Please {{1}} Check your order status\",\"buttons\":[{\"type\":\"ORDER_DETAILS\",\"text\":\"Review and Pay\"}],\"sampleText\":\"Please Rahul Check your order status\",\"enableSample\":true,\"mediaId\":\"00a680ed-e0d1-48a4-8096-431e9d91413b\",\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}"},"createdOn":{"type":"integer","format":"int64","example":"1708397804112"},"data":{"type":"string","example":"Please {{1}} Check your order status | [Review and Pay]"},"elementName":{"type":"string","example":"dev_test_order_details_09"},"id":{"type":"string","example":"681bf504-c194-4af7-a9c5-29b7458a7f67"},"languageCode":{"type":"string","example":"en"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":"{\"example\":\"Please Rahul Check your order status\",\"mediaId\":\"00a680ed-e0d1-48a4-8096-431e9d91413b\"}"},"modifiedOn":{"type":"integer","format":"int64","example":"1708397804112"},"namespace":{"type":"string","example":"6a54628a_7f29_45a7_80b1_46549f39062d"},"priority":{"type":"integer","format":"int32","example":"2"},"quality":{"type":"string","example":"UNKNOWN"},"retry":{"type":"integer","format":"int32","example":"0"},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"IMAGE"},"vertical":{"type":"string","example":"order_details"},"wabaId":{"type":"string","example":"103775135696983"}}}}}}}},"400":{"$ref":"#/components/responses/400"},"429":{"$ref":"#/components/responses/429"}}}},"/partner/app/{appId}/v3/message":{"post":{"tags":["Order Details"],"summary":"Send order details template message","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"messaging_product":"whatsapp","recipient_type":"individual","to":"{{DESTINATION}}","type":"template","template":{"name":"{{TEMPLATE_NAME}}","language":{"policy":"deterministic","code":"en_US"},"components":[{"type":"button","sub_type":"order_details","index":0,"parameters":[{"type":"action","action":{"order_details":{"currency":"INR","order":{"discount":{"offset":100,"value":800},"items":[{"amount":{"offset":100,"value":400},"name":"lime","product_id":"cydjge3iwy","quantity":1,"retailer_id":"order_123"}],"shipping":{"offset":100,"value":0},"status":"pending","catalog_id":"1668567626889482","subtotal":{"offset":100,"value":400},"tax":{"offset":100,"value":500}},"payment_configuration":"{{PAYMENT-CONFIG-ID}}","payment_type":"payment_gateway:{{PAYMENT_GATEWAY_TYPE}}","reference_id":"{{REFERENCE-ID-VALUE}}","total_amount":{"offset":100,"value":100},"type":"digital-goods"}}}]}]}}}}}},"parameters":[{"name":"token","in":"header","required":true,"schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/sendMsgBadRequests"}}}},"/partner/app/{appID}/v3/message":{"post":{"tags":["Order Details"],"summary":"Send order details session message","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":"{\n    \"messaging_product\": \"whatsapp\",\n    \"to\": {{DESTINATION}},\n    \"type\": \"{{TYPE}}\",\n    \"recipient_type\": \"individual\",\n    \"interactive\": {\n        \"type\": \"order_details\",\n        \"header\": {\n            \"type\": \"image\",\n            \"image\": {\n                \"link\": \"{{media link}}\"\n            }\n        },\n        \"body\": {\n            \"text\": \"your-text-body-content\"\n        },\n        \"footer\": {\n            \"text\": \"your-text-footer-content\"\n        },\n        \"action\": {\n            \"name\": \"review_and_pay\",\n            \"parameters\": {\n                \"reference_id\": \"{{reference-id-value}}\",\n                \"type\": \"digital-goods\",\n                \"payment_settings\": [\n                    {\n                        \"type\": \"payment_gateway\",\n                        \"payment_gateway\": {\n                            \"type\": \"{{payment-gateway-type}}\",\n                            \"configuration_name\": \"{{payment-config-id}}\"\n                        }\n                    }\n                ],\n                \"currency\": \"INR\",\n                \"total_amount\": {\n                    \"offset\": 100,\n                    \"value\": 100\n                },\n                \"order\": {\n                    \"status\": \"pending\",\n                    \"catalog_id\": \"the-catalog_id\",\n                     \"discount\": {\n                        \"offset\": 100,\n                        \"value\": 800\n                    },\n                    \"items\": [\n                        {\n                            \"retailer_id\": \"1234567\",\n                            \"name\": \"Product name, for example bread\",\n                            \"amount\": {\n                                \"value\": 400,\n                                \"offset\": 100\n                            },\n                            \"quantity\": 1\n                        }\n                    ],\n                    \"shipping\": {\n                        \"offset\": 100,\n                        \"value\": 0\n                    },\n                    \"subtotal\": {\n                        \"offset\": 100,\n                        \"value\": 400\n                    },\n                    \"tax\": {\n                        \"offset\": 100,\n                        \"value\": 500\n                    }\n                }\n            }\n        }\n    }"}}}},"parameters":[{"name":"token","in":"header","required":true,"schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appID","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/sendMsgBadRequests"}}}}},"components":{"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"messages":[{"id":"GUPSHUP_MESSAGE_ID"}],"messaging_product":"whatsapp","contacts":[{"input":"DESTINATION_PHONE_NO","wa_id":"DESTINATION_PHONE_NO"}]}}}},"400":{"description":"Bad Requests","content":{"application/json":{"examples":{"Required header":{"value":{"message":"A header is required for order details templates","status":"error"}},"Incorrect Category":{"value":{"message":"Category should be UTILITY for order details templates","status":"error"}},"Incorrect template Type":{"value":{"message":"Order Details is supported only text and image","status":"error"}}}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status":"error","message":"Too Many Requests"}}}},"sendMsgBadRequests":{"description":"Bad Requests","content":{"application/json":{"examples":{"Callback billing is not enable":{"value":{"message":"Callback Billing must be enabled for this API","status":"error"}},"App should be clould app":{"value":{"message":"The provided app is not of the expected type for this API. Please ensure that the app is on cloud.","status":"error"}},"Invalid App Details":{"value":{"message":"Invalid App Details","status":"error"}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}