{"openapi":"3.0.1","info":{"title":"Partner Prefillied Data","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"paths":{"/partner/app/{appId}/onboarding/embed/prefilled":{"post":{"tags":["Prefilled Data Apis"],"summary":"Save Pre-filled Data","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"businessName":{"type":"string","description":"Business name should be less than 100 characters.","example":"Test Business"},"email":{"type":"string","description":"Should be valid email id.","example":"seyag92130@inpsur.com"},"website":{"type":"string","description":"Should be valid URL.","example":"https://testweb.com"},"businessPhoneCode":{"type":"string","description":"Should be valid phone county code.\n\nShould not be empty if business phone number is non-empty","example":"91"},"businessPhoneNumber":{"type":"string","description":"Should be valid phone number without dial code.\n\nShould not be empty if business phone code is non-empty.","example":"7386190398"},"streetAddress1":{"type":"string","example":"Mumbai"},"streetAddress2":{"type":"string","example":"Goregaon"},"city":{"type":"string","example":"Mumbai"},"state":{"type":"string","example":"Maharashtra"},"zipPostal":{"type":"string","example":"400063"},"country":{"type":"string","description":"Should be in [**ISO 3166-1 alpha-2 country code**](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2?fbclid=IwZXh0bgNhZW0CMTEAAR3MSwSgzuMTeyUOr9kFmQnGRcLJehFbFP9W_4ZYKzJ9CM3_Ayh4FxXfOzg_aem_jlv4bpO-eH_j0ALI2cB0hQ#Officially_assigned_code_elements) format\n\nexample : IN","example":"IN"},"timezone":{"type":"string","description":"[**UTC Offset format.**](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones?fbclid=IwZXh0bgNhZW0CMTEAAR2u2JQakhNQzI7W18oDXoftqsEszYiDS0eZ4FXhevwnehDnSW7HVZjz9Kc_aem_rykBKW--TTXT1StrN4-j2g) For example: UTC+05:30","example":"UTC+05:30"},"phoneDisplayName":{"type":"string","description":"String following [**display name guidelines.**](https://developers.facebook.com/docs/whatsapp/guides/display-name#display-name-guidelines)\n\nExample : Gupshup","example":"TravelGuide"},"phoneCategory":{"type":"string","description":"Should be one of the bellow category : \n( TRAVEL, EVENT_PLAN, ENTERTAIN, BEAUTY, APPAREL, FINANCE, AUTO, PROF_SERVICES, RESTAURANT, EDU, HEALTH, GROCERY, GOVT, NONPROFIT, RETAIL, HOTEL, OTHER )","example":"TRAVEL"},"phoneDescription":{"type":"string","description":"Phone discription should than 256 characters.","example":"Travel with us"}}}}}},"parameters":[{"name":"token","in":"header","required":true,"schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefilledDataResponse"}}}},"400":{"$ref":"#/components/responses/400"},"500":{"$ref":"#/components/responses/500"}}},"get":{"tags":["Prefilled Data Apis"],"summary":"Get Pre-filled Data","parameters":[{"name":"token","in":"header","required":true,"schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefilledDataResponse"}}}},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}},"put":{"tags":["Prefilled Data Apis"],"summary":"Update Pre-filled Data","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"businessName":{"type":"string","description":"Business name should be less than 100 characters.","example":"Test Business"},"email":{"type":"string","description":"Should be valid email id.","example":"seyag92130@inpsur.com"},"website":{"type":"string","description":"Should be valid URL.","example":"https://testweb.com"},"businessPhoneCode":{"type":"string","description":"Should be valid phone county code.\n\nShould not be empty if business phone number is non-empty","example":"91"},"businessPhoneNumber":{"type":"string","description":"Should be valid phone number without dial code.\n\nShould not be empty if business phone code is non-empty.","example":"7386190398"},"streetAddress1":{"type":"string","example":"Mumbai"},"streetAddress2":{"type":"string","example":"Goregaon"},"city":{"type":"string","example":"Mumbai"},"state":{"type":"string","example":"Maharashtra"},"zipPostal":{"type":"string","example":"400063"},"country":{"type":"string","description":"Should be in [**ISO 3166-1 alpha-2 country code**](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2?fbclid=IwZXh0bgNhZW0CMTEAAR3MSwSgzuMTeyUOr9kFmQnGRcLJehFbFP9W_4ZYKzJ9CM3_Ayh4FxXfOzg_aem_jlv4bpO-eH_j0ALI2cB0hQ#Officially_assigned_code_elements) format\n\nexample : IN","example":"IN"},"timezone":{"type":"string","description":"[**UTC Offset format.**](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones?fbclid=IwZXh0bgNhZW0CMTEAAR2u2JQakhNQzI7W18oDXoftqsEszYiDS0eZ4FXhevwnehDnSW7HVZjz9Kc_aem_rykBKW--TTXT1StrN4-j2g) For example: UTC+05:30","example":"UTC+05:30"},"phoneDisplayName":{"type":"string","description":"String following [**display name guidelines.**](https://developers.facebook.com/docs/whatsapp/guides/display-name#display-name-guidelines)\n\nExample : Gupshup","example":"TravelGuide"},"phoneCategory":{"type":"string","description":"Should be one of the bellow category : \n( TRAVEL, EVENT_PLAN, ENTERTAIN, BEAUTY, APPAREL, FINANCE, AUTO, PROF_SERVICES, RESTAURANT, EDU, HEALTH, GROCERY, GOVT, NONPROFIT, RETAIL, HOTEL, OTHER )","example":"TRAVEL"},"phoneDescription":{"type":"string","description":"Phone discription should than 256 characters.","example":"Travel with us"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefilledDataResponse"}}}},"400":{"$ref":"#/components/responses/400"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"tags":["Prefilled Data Apis"],"summary":"Delete Pre-filled Data","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_345095d735c64a8ab2f97a92e953xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfxxxx"}],"responses":{"202":{"description":"Accepted","content":{"application/json":{}}},"401":{"$ref":"#/components/responses/401"},"500":{"$ref":"#/components/responses/500"}}}}},"components":{"responses":{"400":{"description":"Bad Request","content":{"application/json":{"examples":{"Invalid Business Name":{"value":{"message":"Business name must be less than 100 character","status":"error"}},"Invalid Email Address":{"value":{"message":"Invalid Email address","status":"error"}},"Invalid Website URL":{"value":{"message":"Invalid website url","status":"error"}},"Business Phone/Code Emtpy Error":{"value":{"message":"Business phone code/number is empty","status":"error"}},"Invalid Phone Category":{"value":{"message":"Invalid phone category. List of supported categories are : [TRAVEL, EVENT_PLAN, ENTERTAIN, BEAUTY, APPAREL, FINANCE, AUTO, PROF_SERVICES, RESTAURANT, EDU, HEALTH, GROCERY, GOVT, NONPROFIT, RETAIL, HOTEL, OTHER]","status":"error"}},"Invalid Phone Discription":{"value":{"message":"Invalid phone description","status":"error"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"message":"Authentication Failed","status":"error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":{"message":"Internal Server Error. Please contact Gupshup team","status":"error"}}}}},"schemas":{"RefilledDataResponse":{"type":"object","properties":{"appId":{"type":"string","example":"<app_id>"},"businessName":{"type":"string","example":"<business_name>"},"businessPhoneCode":{"type":"string","example":"<business_phone_code>"},"businessPhoneNumber":{"type":"string","example":"<business_phone_number>"},"city":{"type":"string","example":"<city>"},"country":{"type":"string","example":"<contry>"},"email":{"type":"string","example":"<business_email>"},"phoneCategory":{"type":"string","example":"<phone_category>"},"phoneDescription":{"type":"string","example":"<phone_description>"},"phoneDisplayName":{"type":"string","example":"<phone_displayname>"},"state":{"type":"string","example":"<state>"},"status":{"type":"string","example":"<status>"},"streetAddress1":{"type":"string","example":"<streetAddress1>"},"streetAddress2":{"type":"string","example":"<streetAddress2>"},"timezone":{"type":"string","example":"<timezone>"},"website":{"type":"string","example":"<business_website>"},"zipPostal":{"type":"string","example":"<business_postal_code>"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}