{"openapi":"3.0.0","info":{"title":"Partner-CTX API","version":"1.0.0","description":"API documentation for Partner-CTX."},"servers":[{"url":"https://partner-ctx.gupshup.io"}],"paths":{"/api/v2/services/":{"post":{"summary":"Create a new service","description":"This API allows the creation of a new service for Partner-CTX.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"partnerId":{"type":"string","description":"Unique ID of the partner"},"selfServeAppId":{"type":"string","description":"Self-Serve App ID"},"selfServeApiKey":{"type":"string","description":"Self-Serve API Key"},"callbackUrl":{"type":"string","description":"Callback URL for the service"},"name":{"type":"string","description":"Name of the service"},"timezone":{"type":"string","description":"Timezone of the service"},"country":{"type":"string","description":"Country code of the service"},"leadTimeoutDurationMinutes":{"type":"integer","description":"Duration in minutes after which a lead is considered timed out"},"dataRetentionDurationDays":{"type":"integer","description":"Duration in days for which data is retained"},"defaultKeyword":{"type":"string","description":"Default keyword for the service"},"defaultGoal":{"type":"object","description":"Default goal for the service","properties":{"name":{"type":"string","description":"Name of the goal","example":"QualifiedLead"},"description":{"type":"string","description":"Description of the goal","example":"A goal for tracking qualified leads."},"tags":{"type":"array","items":{"type":"string"},"description":"Tags associated with the goal","example":["tag1","tag2"]},"conversionMilestoneIndex":{"type":"integer","description":"Index of the conversion milestone","example":2},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the milestone","example":"QualifiedLead"},"name":{"type":"string","description":"Name of the milestone","example":"Qualified Lead Milestone"},"description":{"type":"string","description":"Description of the milestone","example":"This milestone indicates a qualified lead."},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the tracker","example":"tracker1"},"name":{"type":"string","description":"Name of the tracker","example":"Lead Conversion Tracker"},"valueType":{"type":"string","description":"Type of value the tracker holds","example":"STRING"},"replacementType":{"type":"string","description":"Type of replacement for the tracker","example":"LATEST"},"defaultValue":{"type":"integer","description":"Default value of the tracker","example":1}}}}}}}}},"defaultRetargetingSchedule":{"type":"object","description":"Default retargeting schedule for the service","properties":{"name":{"type":"string","description":"Name of the retargeting schedule","example":"Standard Retargeting"},"retargetingIntervals":{"type":"array","items":{"type":"object","properties":{"trigger":{"type":"object","description":"Trigger for the retargeting interval","properties":{"type":{"type":"string","description":"Type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Value associated with the trigger","example":3600000},"comparator":{"type":"string","description":"Comparator for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Milestone index associated with the trigger","example":1}}},"action":{"type":"object","description":"Action associated with the retargeting interval","properties":{"type":{"type":"string","description":"Type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"dd788bc7-63a8-4fbf-a01d-06a4e33a537b"}}}}}}}}},"required":["partnerId","selfServeAppId","selfServeApiKey","name","timezone","country","leadTimeoutDurationMinutes","dataRetentionDurationDays","defaultGoal","defaultRetargetingSchedule"]}}}},"responses":{"200":{"description":"Service successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"serviceId":{"type":"string","description":"Unique ID of the created service","example":"45cf8c96-f16c-4552-b696-d29231a31116"},"defaultGoalId":{"type":"string","description":"Unique ID of the default goal","example":"2089a26a-51f6-488f-9cbc-a108597e90ea"},"defaultGoalVersionId":{"type":"string","description":"Version ID of the default goal","example":"399bc079-feef-4676-8ba4-c4719e673a40"},"defaultRetargetingScheduleId":{"type":"string","description":"Unique ID of the default retargeting schedule","example":"0771eb09-3bcb-4d4e-94be-e526e9512066"},"ctxServiceApiKey":{"type":"string","description":"CTX Service API key for the service","example":"25dc3c2451b3b699dd5481221236026e06e0d2556981207f417bf13bbcc68a20"},"ctxServiceUserApiKey":{"type":"string","description":"User API key for the service","example":"98bd067221575642fc7bb0ac0abbc5dafd51231c37518bbb6590b6cbd38c0cbf"},"initialised":{"type":"boolean","description":"Indicates if the service has been initialised","example":true}}}}}},"400":{"description":"Bad request. Validation failed for one or more fields.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"errors":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The field that caused the validation error","example":"partnerId"},"message":{"type":"string","description":"Validation error message","example":"partnerId is required"}}}}}},"examples":{"missing_field":{"summary":"Missing required field","value":{"status":"error","errors":[{"field":"partnerId","message":"partnerId is required"}]}},"invalid_string":{"summary":"Invalid string value","value":{"status":"error","errors":[{"field":"name","message":"name must be a string"}]}},"invalid_timezone":{"summary":"Invalid timezone value","value":{"status":"error","errors":[{"field":"timezone","message":"timezone is not a valid timezone"}]}},"invalid_country":{"summary":"Invalid country code value","value":{"status":"error","errors":[{"field":"country","message":"country is not a valid country code"}]}},"invalid_integer":{"summary":"Invalid integer value","value":{"status":"error","errors":[{"field":"leadTimeoutDurationMinutes","message":"leadTimeoutDurationMinutes must be an integer"}]}},"invalid_data_retention":{"summary":"Data retention out of range","value":{"status":"error","errors":[{"field":"dataRetentionDurationDays","message":"dataRetentionDurationDays must be an integer between 30 and 730"}]}},"invalid_goal":{"summary":"Invalid defaultGoal object","value":{"status":"error","errors":[{"field":"defaultGoal","message":"defaultGoal must be a valid object"}]}},"invalid_retargeting_schedule":{"summary":"Invalid defaultRetargetingSchedule object","value":{"status":"error","errors":[{"field":"defaultRetargetingSchedule","message":"defaultRetargetingSchedule must be a valid object"}]}},"invalid_milestone_index":{"summary":"Invalid conversionMilestoneIndex value","value":{"status":"error","errors":[{"field":"conversionMilestoneIndex","message":"conversionMilestoneIndex must be a non-negative integer"}]}},"invalid_tracker":{"summary":"Invalid tracker field in milestones","value":{"status":"error","errors":[{"field":"milestones.trackers.*.name","message":"tracker name must be a string"},{"field":"milestones.trackers.*.id","message":"tracker id must be a string"}]}},"invalid_retargeting_trigger":{"summary":"Invalid retargeting trigger field","value":{"status":"error","errors":[{"field":"retargetingIntervals.*.trigger.type","message":"Trigger type is required and must be valid"},{"field":"retargetingIntervals.*.trigger.comparator","message":"Trigger comparator is invalid"},{"field":"retargetingIntervals.*.trigger.milestoneIndex","message":"Trigger milestoneIndex is required and must be an integer"}]}},"invalid_retargeting_action":{"summary":"Invalid retargeting action field","value":{"status":"error","errors":[{"field":"retargetingIntervals.*.action.type","message":"Action type is required and must be WA_TEMPLATE_MESSAGE"},{"field":"retargetingIntervals.*.action.templateId","message":"Action templateId is required and must be a string"}]}}}}}},"401":{"description":"Unauthorized. API key is missing or invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"message":{"type":"string","description":"Error message","example":"Unauthorized access"}}}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}},"tags":["AmpLead Service"],"parameters":[{"in":"header","name":"authorization","required":true,"schema":{"type":"string"},"description":"Authorization key needed to authorize requests"}]}},"/api/v2/services/{serviceId}/actions":{"post":{"summary":"Perform actions on a service","description":"This API allows performing various actions on a service, such as updating the service details.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"b616c7a9-28ed-4c7f-b91e-e4546b041088"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","description":"The action to perform on the service","enum":["put"],"example":"put","x-readme-id":"0.0"},"data":{"type":"object","description":"The data to update in the service","properties":{"domain":{"type":"string","description":"Domain name for the service","example":"abc.com","x-readme-id":"1.0"},"timezone":{"type":"string","description":"Timezone of the service","example":"Asia/Kolkata","x-readme-id":"1.1"},"country":{"type":"string","description":"Country code of the service","example":"IN","x-readme-id":"1.2"},"leadTimeoutDurationMinutes":{"type":"integer","description":"Duration in minutes after which a lead is considered timed out","example":1440,"x-readme-id":"1.4"},"dataRetentionDurationDays":{"type":"integer","description":"Duration in days for which data is retained","example":30,"x-readme-id":"1.5"},"defaultKeyword":{"type":"string","description":"Default keyword for the service","example":"abc","x-readme-id":"1.6"},"selfServeApiKey":{"type":"string","description":"Self-Serve API Key for the service","example":"kdakb8e1b74e3sc92szdemhdezxs5efn","x-readme-id":"1.7"},"enabled":{"type":"boolean","description":"Whether the service is enabled or not","example":true,"x-readme-id":"1.8"},"callbackUrl":{"type":"string","description":"Callback URL for the service","example":"https://example.com/callback","x-readme-id":"1.9"},"defaultRetargetingScheduleId":{"type":"string","description":"ID of the retargeting schedule","x-readme-id":"1.3"}},"x-readme-id":"0.1"}}}}}},"responses":{"200":{"description":"Action performed successfully on the service","content":{"application/json":{"schema":{"type":"object","properties":{"serviceId":{"type":"string","description":"Unique ID of the service","example":"b616c7a9-28ed-4c7f-b91e-e4546b041088"}}}}}},"400":{"description":"Bad request. Validation failed for one or more fields.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"errors":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The field that caused the validation error","example":"action"},"message":{"type":"string","description":"Validation error message","example":"action must be 'put'"}}}}}},"examples":{"invalid_action":{"summary":"Invalid action value","value":{"status":"error","errors":[{"field":"action","message":"action must be 'put'"}]}},"missing_data":{"summary":"Missing or invalid data object","value":{"status":"error","errors":[{"field":"data","message":"data is required and must be an object"}]}},"invalid_string":{"summary":"Invalid string field in data","value":{"status":"error","errors":[{"field":"data.timezone","message":"timezone is not a valid timezone"}]}},"invalid_integer":{"summary":"Invalid integer field in data","value":{"status":"error","errors":[{"field":"data.leadTimeoutDurationMinutes","message":"leadTimeoutDurationMinutes must be an integer"}]}},"invalid_domain":{"summary":"Invalid domain field in data","value":{"status":"error","errors":[{"field":"data.domain","message":"domain is not a valid domain name"}]}},"invalid_country":{"summary":"Invalid country code value in data","value":{"status":"error","errors":[{"field":"data.country","message":"country is not a valid country code"}]}},"invalid_callbackUrl":{"summary":"Invalid callbackUrl value in data","value":{"status":"error","errors":[{"field":"data.callbackUrl","message":"callbackUrl is not a valid URL"}]}},"invalid_retargetingScheduleId":{"summary":"Invalid retargetingScheduleId value","value":{"status":"error","errors":[{"field":"data.retargetingScheduleId","message":"retargetingScheduleId must be a valid UUID"}]}},"missing_required_field":{"summary":"Missing required fields","value":{"status":"error","errors":[{"field":"data.leadTimeoutDurationMinutes","message":"leadTimeoutDurationMinutes is required and must be an integer"},{"field":"data.selfServeApiKey","message":"selfServeApiKey is required"}]}}}}}},"401":{"description":"Unauthorized. API key or authorization header is missing or invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"message":{"type":"string","description":"Error message","example":"Unauthorized access"}}}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}},"tags":["AmpLead Service"]}},"/api/v2/services/{serviceId}":{"get":{"summary":"Retrieve service details","description":"Fetch detailed information about a service using its unique service ID.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Successfully retrieved service details","content":{"application/json":{"schema":{"type":"object","properties":{"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"partnerId":{"type":"string","description":"Partner ID associated with the service","example":"1"},"selfServeAppId":{"type":"string","description":"Self-Serve App ID","example":"bdf01e1b-3ced-4d79-ba57-f2b643a71273"},"callbackUrl":{"type":"string","description":"Callback URL for the service","example":"https://www.postb.in/1725327845112-9259958937764"},"ctxServiceApiKey":{"type":"string","description":"API key for the service","example":"ff59022a6b781a55c04ab04257eb77214c729a37276f4ad1dced29628a7430c8"},"ctxServiceUserApiKey":{"type":"string","description":"User API key for the service","example":"95a67f368d77995a4e4e3ab372a6642e5117dd83f27b47a1731959b8403e250b"},"domain":{"type":"string","description":"Domain associated with the service","example":"gupshup.io"},"selfServeApiKey":{"type":"string","description":"Self-Serve API key for the service","example":"kdakb8e1b74e3sc92szdemhdezxs5efn"},"selfServePhone":{"type":"string","description":"Phone number associated with the service","example":"1234567890"},"timezone":{"type":"string","description":"Timezone of the service","example":"America/New_York"},"country":{"type":"string","description":"Country where the service is based","example":"India"},"isCAPIEnabled":{"type":"boolean","description":"Whether CAPI (Conversion API) is enabled","example":false},"defaultRetargetingScheduleId":{"type":"string","description":"ID of the default retargeting schedule","example":"609aa5ac-1de7-4032-a4e0-d389f6b3eebd"},"initialised":{"type":"boolean","description":"Indicates if the service has been initialised","example":true},"enabled":{"type":"boolean","description":"Indicates if the service is enabled","example":true},"retargetingJson":{"type":"array","items":{"type":"object","properties":{"templateId":{"type":"string","description":"Template ID for retargeting","example":"bbd28286-0136-4779-9907-7f8c3339ee80"},"fixedTimeInterval":{"type":"integer","description":"Fixed time interval in milliseconds","example":300000},"dynamicTimeInterval":{"type":"integer","description":"Dynamic time interval in milliseconds","example":600000}}}},"latestGoalId":{"type":"string","description":"Latest goal ID","example":"30d3c47b-72ff-4126-acb2-c7079af1358b"},"markedForDeletion":{"type":"boolean","description":"Indicates if the service is marked for deletion","example":false},"defaultRetargetingSchedule":{"type":"object","description":"Details of the default retargeting schedule","properties":{"name":{"type":"string","description":"Name of the retargeting schedule"},"goal":{"type":"object","description":"Goal associated with the retargeting schedule","properties":{"id":{"type":"string","description":"Goal ID","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"version":{"type":"string","description":"Goal version ID","example":"9ece7aa1-9f5f-46c5-92d9-d788733cafa9"}}},"retargetingIntervals":{"type":"array","items":{"type":"object","properties":{"trigger":{"type":"object","description":"Trigger details for the retargeting interval","properties":{"type":{"type":"string","description":"Type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Value of the interval in milliseconds","example":180000},"milestoneIndex":{"type":"integer","description":"Milestone index for the trigger","example":1}}},"action":{"type":"object","description":"Action details for the retargeting interval","properties":{"type":{"type":"string","description":"Type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"9bd8ed86-d283-49f8-b9aa-a9d3a2300d87"}}}}}}}},"defaultGoal":{"type":"object","description":"Details of the default goal","properties":{"name":{"type":"string","description":"Name of the goal"},"description":{"type":"string","description":"Description of the goal"},"tags":{"type":"array","items":{"type":"string","description":"Tags associated with the goal"}},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Milestone ID","example":"Lead"},"name":{"type":"string","description":"Name of the milestone","example":"Lead"},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Tracker ID","example":"t2"},"name":{"type":"string","description":"Name of the tracker","example":"tracker_2"},"valueType":{"type":"string","description":"Type of value the tracker holds","example":"STRING"},"replacementType":{"type":"string","description":"Type of replacement for the tracker","example":"LATEST"},"defaultValue":{"type":"integer","description":"Default value for the tracker","example":1}}}}}}},"conversionMilestoneIndex":{"type":"integer","description":"Index of the conversion milestone","example":4},"goalId":{"type":"string","description":"Goal ID","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"goalVersionId":{"type":"string","description":"Goal version ID","example":"9ece7aa1-9f5f-46c5-92d9-d788733cafa9"}}},"fbAccessToken":{"type":"string","description":"Facebook access token (if applicable)","nullable":true},"leadTimeoutDurationMinutes":{"type":"integer","description":"Lead timeout duration in minutes","nullable":true},"dataRetentionDurationDays":{"type":"integer","description":"Data retention duration in days","nullable":true},"defaultKeyword":{"type":"string","description":"Default keyword associated with the service","nullable":true}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"404":{"description":"Service not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}}}}},"tags":["AmpLead Service"]}},"/api/v2/services/{serviceId}/goals":{"post":{"summary":"Create a Goal","description":"Creates a new goal for a specific service, including its milestones and trackers.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the goal","example":"goal1"},"description":{"type":"string","description":"Description of the goal","example":"goal1"},"tags":{"type":"array","description":"Tags associated with the goal","items":{"type":"string","example":"tag1"}},"conversionMilestoneIndex":{"type":"integer","description":"The index of the conversion milestone","example":2},"milestones":{"type":"array","description":"List of milestones associated with the goal","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the milestone","example":"DeepConversation"},"name":{"type":"string","description":"Name of the milestone","example":"DeepConversation"},"description":{"type":"string","description":"Description of the milestone","example":"xyz"},"trackers":{"type":"array","description":"List of trackers associated with the milestone","items":{"type":"object","properties":{"id":{"type":"string","description":"Tracker ID","example":"t2"},"name":{"type":"string","description":"Tracker name","example":"tracker_2"},"valueType":{"type":"string","description":"Value type of the tracker (must be either STRING or NUMBER)","example":"STRING"},"replacementType":{"type":"string","description":"Replacement type of the tracker (must be either LATEST or FIRST)","example":"LATEST"},"defaultValue":{"type":"number","description":"Default value for the tracker","example":1}}}}}}}}}}}},"responses":{"200":{"description":"Goal created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goalId":{"type":"string","description":"Unique ID of the goal","example":"8ecc62ce-6e19-45c4-aac0-a58dff25928b"},"goalVersionId":{"type":"string","description":"Version ID of the goal","example":"a96aba14-c2d9-4791-8950-b1f1e58ca290"}}}}}},"400":{"description":"Bad request. The request parameters are incorrect.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"General error message","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the error"},"msg":{"type":"string","description":"Specific error message"},"path":{"type":"string","description":"The field that caused the error"},"location":{"type":"string","description":"Location of the error"}},"example":[{"type":"field","msg":"Invalid value","path":"name","location":"body"},{"type":"field","msg":"Invalid value","path":"description","location":"body"},{"type":"field","msg":"Invalid value","path":"tags","location":"body"},{"type":"field","msg":"Invalid value","path":"conversionMilestoneIndex","location":"body"},{"type":"field","msg":"Milestones can't be empty","path":"milestones","location":"body"},{"type":"field","msg":"First milestone should be empty","path":"milestones","location":"body"},{"type":"field","msg":"milestones.id field missing","path":"milestones","location":"body"},{"type":"field","msg":"milestones.name field missing","path":"milestones","location":"body"},{"type":"field","msg":"milestones.trackers field missing","path":"milestones","location":"body"},{"type":"field","msg":"milestones.trackers.id field missing","path":"milestones.trackers.id","location":"body"},{"type":"field","msg":"milestones.trackers.name field missing","path":"milestones.trackers.name","location":"body"},{"type":"field","msg":"valueType field should contain NUMBER or STRING","path":"milestones.trackers.valueType","location":"body"},{"type":"field","msg":"replacementType field should contain LATEST or FIRST","path":"milestones.trackers.replacementType","location":"body"}]}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid API key"}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while creating the goal"}}}}}}},"tags":["Goal"]},"get":{"summary":"Get Goals","description":"Retrieves a paginated list of goals associated with the specified service ID.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"query","name":"page","required":true,"description":"The page number for pagination","schema":{"type":"integer","example":0}},{"in":"query","name":"size","required":true,"description":"The number of results per page","schema":{"type":"integer","example":3}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Goals retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goals":{"type":"array","description":"List of goals","items":{"type":"object","properties":{"goalId":{"type":"string","description":"Unique ID of the goal"},"serviceId":{"type":"string","description":"Unique ID of the service"},"latestGoalVersionId":{"type":"string","description":"Unique ID of the latest goal version"},"latestGoalInfo":{"type":"object","properties":{"name":{"type":"string","description":"Name of the goal"},"description":{"type":"string","description":"Description of the goal"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags associated with the goal"},"conversionMilestoneIndex":{"type":"integer","description":"Index of the conversion milestone"},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"valueType":{"type":"string"},"replacementType":{"type":"string"},"defaultValue":{"type":"integer"}}}}}}}}}}}},"paging":{"type":"object","description":"Pagination information","properties":{"totalResults":{"type":"integer","description":"Total number of results"},"totalPages":{"type":"integer","description":"Total number of pages"},"page":{"type":"integer","description":"Current page number"},"size":{"type":"integer","description":"Number of results per page"}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid apikey"}]}}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid service ID"}]}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal Server Error - An unexpected error occurred while retrieving the goals"}}}}}}},"tags":["Goal"]}},"/api/v2/services/{serviceId}/goals/{goalId}/actions":{"post":{"summary":"Update Goal","description":"Updates an existing goal associated with the specified service and goal ID.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"goalId","required":true,"description":"Unique ID of the goal","schema":{"type":"string","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","example":"put"},"data":{"type":"object","properties":{"name":{"type":"string","example":"goal2"},"description":{"type":"string","example":"goal2"},"tags":{"type":"array","items":{"type":"string"},"example":["tag1","tag2"]},"conversionMilestoneIndex":{"type":"integer","example":2},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"valueType":{"type":"string"},"replacementType":{"type":"string"},"defaultValue":{"type":"integer"}}}}}}}}}}}}}},"responses":{"200":{"description":"Goal updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goalId":{"type":"string"},"goalVersionId":{"type":"string"}}}}}},"400":{"description":"Bad request. Invalid input data.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"msg":{"type":"string"},"path":{"type":"string"},"location":{"type":"string"}},"example":[{"type":"field","msg":"Invalid value","path":"action","location":"body"},{"type":"field","msg":"Invalid value","path":"data.name","location":"body"},{"type":"field","msg":"Invalid value","path":"data.description","location":"body"},{"type":"field","msg":"Invalid value","path":"data.tags","location":"body"},{"type":"field","msg":"Invalid value","path":"data.conversionMilestoneIndex","location":"body"},{"type":"field","msg":"Milestones can't be empty","path":"data.milestones","location":"body"},{"type":"field","msg":"First milestone should be empty","path":"data.milestones","location":"body"},{"type":"field","msg":"Cannot read properties of undefined (reading 'length')","path":"data.milestones","location":"body"},{"type":"field","msg":"milestones.id field missing","path":"data.milestones","location":"body"},{"type":"field","msg":"milestones.name field missing","path":"data.milestones","location":"body"},{"type":"field","msg":"milestones.trackers field missing","path":"data.milestones","location":"body"},{"type":"field","msg":"milestones.trackers.id field missing","path":"data.milestones","location":"body"},{"type":"field","msg":"milestones.trackers.name field missing","path":"data.milestones","location":"body"},{"type":"field","msg":"valueType field should contain NUMBER or STRING","path":"data.milestones.trackers.valueType","location":"body"},{"type":"field","msg":"replacementType field should contain LATEST or FIRST","path":"data.milestones.trackers.replacementType","location":"body"}]}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid API key"}}}}}},"404":{"description":"Not found. The provided service ID or goal ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid service ID or goal ID"}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal Server Error - An unexpected error occurred while updating the goal"}}}}}}},"tags":["Goal"]}},"/api/v2/services/{serviceId}/goals/{goalId}":{"get":{"summary":"Get Goal Details","description":"Retrieves the details of a specific goal associated with a service, including the latest version of the goal, milestones, and trackers.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"goalId","required":true,"description":"Unique ID of the goal","schema":{"type":"string","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Goal retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goalId":{"type":"string","description":"Unique ID of the goal","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"latestGoalVersionId":{"type":"string","description":"Unique ID of the latest version of the goal","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"},"latestGoalInfo":{"type":"object","description":"Information about the latest version of the goal","properties":{"name":{"type":"string","description":"Name of the goal","example":"goal2"},"description":{"type":"string","description":"Description of the goal","example":"goal2"},"tags":{"type":"array","description":"Tags associated with the goal","items":{"type":"string","example":"tag1"}},"conversionMilestoneIndex":{"type":"integer","description":"The index of the conversion milestone","example":2},"milestones":{"type":"array","description":"List of milestones associated with the goal","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the milestone","example":"DeepConversation"},"name":{"type":"string","description":"Name of the milestone","example":"DeepConversation"},"description":{"type":"string","description":"Description of the milestone","example":"xyzw"},"trackers":{"type":"array","description":"List of trackers associated with the milestone","items":{"type":"object","properties":{"id":{"type":"string","description":"Tracker ID","example":"t2"},"name":{"type":"string","description":"Tracker name","example":"priya"},"valueType":{"type":"string","description":"Value type of the tracker (must be either STRING or NUMBER)","example":"STRING"},"replacementType":{"type":"string","description":"Replacement type of the tracker (must be either LATEST or FIRST)","example":"LATEST"},"defaultValue":{"type":"number","description":"Default value for the tracker","example":1}}}}}}}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}},"404":{"description":"Not found. The provided service ID or goal ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Goal not found"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Specific error message"}},"example":[{"message":"Goal not found"},{"message":"Invalid service ID"}]}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while retrieving the goal"}}}}}}},"tags":["Goal"]}},"/api/v2/services/{serviceId}/goals/{goalId}/versions":{"get":{"summary":"Get Goal Versions","description":"Retrieves a paginated list of goal versions associated with the specified goal ID and service ID.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"goalId","required":true,"description":"Unique ID of the goal","schema":{"type":"string","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"}},{"in":"query","name":"page","required":true,"description":"The page number for pagination","schema":{"type":"integer","example":0}},{"in":"query","name":"size","required":true,"description":"The number of results per page","schema":{"type":"integer","example":3}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Goal versions retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goalVersions":{"type":"array","description":"List of goal versions","items":{"type":"object","properties":{"goalVersionId":{"type":"string","description":"Unique ID of the goal version"},"goalId":{"type":"string","description":"Unique ID of the goal"},"serviceId":{"type":"string","description":"Unique ID of the service"},"goalInfo":{"type":"object","properties":{"name":{"type":"string","description":"Name of the goal"},"description":{"type":"string","description":"Description of the goal"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags associated with the goal"},"conversionMilestoneIndex":{"type":"integer","description":"Index of the conversion milestone"},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"valueType":{"type":"string"},"replacementType":{"type":"string"},"defaultValue":{"type":"integer"}}}}}}}}}}}},"paging":{"type":"object","description":"Pagination information","properties":{"totalResults":{"type":"integer","description":"Total number of results"},"totalPages":{"type":"integer","description":"Total number of pages"},"page":{"type":"integer","description":"Current page number"},"size":{"type":"integer","description":"Number of results per page"}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid apikey"}]}}}}}}},"404":{"description":"Not found. The provided service ID or goal ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Goal not found"},{"message":"Invalid service ID"}]}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal Server Error - An unexpected error occurred while retrieving the goal versions"}}}}}}},"tags":["Goal"]}},"/api/v2/services/{serviceId}/goals/{goalId}/versions/{goalVersionId}":{"get":{"summary":"Get Goal Version Details","description":"Retrieves details of a specific goal version associated with the specified service, goal, and goal version IDs.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"goalId","required":true,"description":"Unique ID of the goal","schema":{"type":"string","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"}},{"in":"path","name":"goalVersionId","required":true,"description":"Unique ID of the goal version","schema":{"type":"string","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Goal version details retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"goalVersionId":{"type":"string","description":"Unique ID of the goal version","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"},"goalId":{"type":"string","description":"Unique ID of the goal","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"goalInfo":{"type":"object","properties":{"name":{"type":"string","description":"Name of the goal","example":"goal2"},"description":{"type":"string","description":"Description of the goal","example":"goal2"},"tags":{"type":"array","items":{"type":"string"},"example":["tag1","tag2"]},"conversionMilestoneIndex":{"type":"integer","description":"Index of the conversion milestone","example":2},"milestones":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"trackers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"valueType":{"type":"string"},"replacementType":{"type":"string"},"defaultValue":{"type":"integer"}}}}}}}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid apikey"}]}}}}}}},"404":{"description":"Not found. The requested resource was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Goal version not found"},{"message":"Goal not found"},{"message":"Invalid service ID"}]}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal Server Error - An unexpected error occurred while retrieving the goal version details"}}}}}}},"tags":["Goal"]}},"/api/v2/services/{serviceId}/goals/{goalId}/milestones/{milestoneIndex}":{"post":{"summary":"Mark a Lead Ad Milestone as Achieved","description":"Records the achievement of a milestone for a lead ad associated with a specific goal within a service.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"goalId","required":true,"description":"Unique ID of the goal","schema":{"type":"string","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"}},{"in":"path","name":"milestoneIndex","required":true,"description":"Index of the milestone to mark as achieved","schema":{"type":"integer","example":2}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"customerPhoneNumber":{"type":"string","description":"Customer's phone number","example":"919987636339"},"conversationId":{"type":"string","description":"Unique ID of the conversation (optional)","example":"CX - 1"},"originalSource":{"type":"object","description":"Original source information","properties":{"type":{"type":"string","description":"Type of the original source","example":"mkt"},"value":{"type":"string","description":"Value of the original source","example":"adId"}}},"source":{"type":"object","description":"Source information","properties":{"type":{"type":"string","description":"Type of the source","example":"mkt"},"value":{"type":"string","description":"Value of the source","example":"campaignId"}}},"trackers":{"type":"array","description":"List of trackers","items":{"type":"object","properties":{"id":{"type":"string","description":"Tracker ID","example":"t2"},"value":{"type":"string","description":"Tracker value","example":"test"}}}},"goalVersionId":{"type":"string","description":"Goal version ID","example":"2c6ea91a-e522-4854-906a-578053d8886b"}}}}}},"responses":{"200":{"description":"Milestone marked as achieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"leadId":{"type":"string","description":"Unique ID of the lead","example":"1cade93b-ec9b-4cc3-a159-cfb224934ce3"}}}}}},"400":{"description":"Bad request. The request parameters are incorrect.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"details":{"type":"array","description":"List of specific validation errors","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the error","example":"field"},"msg":{"type":"string","description":"Specific error message"},"path":{"type":"string","description":"The field that caused the error","example":"customerPhoneNumber"},"location":{"type":"string","description":"Location of the error","example":"body"}}},"example":[{"type":"field","msg":"Invalid phone number","path":"customerPhoneNumber","location":"body"},{"type":"field","msg":"Goal version ID must be a valid UUID","path":"goalVersionId","location":"body"},{"message":"goalId does not match with provided goal id."}]}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}},"404":{"description":"Not found. The provided service ID or goal ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":500},"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while marking the milestone as achieved"},"details":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Detailed error message","example":"Internal Server Error"}}}}}}}}}},"tags":["Lead"]}},"/api/v2/services/{serviceId}/leads/{leadId}":{"get":{"summary":"Get Lead Details","description":"Retrieves detailed information about a specific lead associated with a service.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"leadId","required":true,"description":"Unique ID of the lead","schema":{"type":"string","example":"66b1dd28-b699-48e2-892e-89b019c958be"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Lead retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"leadId":{"type":"string","description":"Unique ID of the lead","example":"66b1dd28-b699-48e2-892e-89b019c958be"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"adId":{"type":"string","description":"Unique ID of the associated ad","example":"7dd61a40-dffb-476b-8d20-82bf18638585"},"externalAdId":{"type":"string","description":"External Ad ID associated with the lead","example":"120210642299930789"},"customerPhoneNumber":{"type":"string","description":"Customer's phone number","example":"919987636339"},"status":{"type":"string","description":"Status of the lead","example":"OPEN"},"activityInfo":{"type":"array","description":"List of activities associated with the lead","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of activity","example":"CREATED"},"message":{"type":"string","description":"Description of the activity","example":"Lead created."},"timestamp":{"type":"integer","description":"Timestamp of the activity in milliseconds","example":1725373272864}}}},"retargetingLeadSchedule":{"type":"object","description":"Details of the retargeting lead schedule","properties":{"name":{"type":"string","description":"Name of the retargeting schedule","example":""},"goal":{"type":"object","description":"Goal associated with the retargeting schedule","properties":{"id":{"type":"string","description":"Goal ID","example":"28cebcc5-659c-4d09-b2e4-b40b18033a47"},"version":{"type":"string","description":"Goal version ID","example":"d34ad4d5-e9b9-4bab-a27e-1a5fd2a2731f"}}},"retargetingIntervals":{"type":"array","description":"List of retargeting intervals","items":{"type":"object","properties":{"trigger":{"type":"object","description":"Trigger details","properties":{"type":{"type":"string","description":"Type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Value associated with the trigger in milliseconds","example":180000},"retargetTime":{"type":"integer","description":"The time at which the retargeting is scheduled","example":1725373452859},"milestoneIndex":{"type":"integer","description":"Index of the milestone associated with the trigger","example":1}}},"action":{"type":"object","description":"Action details","properties":{"type":{"type":"string","description":"Type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"9bd8ed86-d283-49f8-b9aa-a9d3a2300d87"}}}}}}}},"countRetargetingSent":{"type":"integer","description":"Count of retargeting messages sent","example":0},"fepMessage":{"type":"object","description":"Details of the FEP message","properties":{"app":{"type":"string","description":"Application name","example":"TedLasso"},"timestamp":{"type":"integer","description":"Timestamp of the FEP message","example":1723595226000},"version":{"type":"integer","description":"Version of the message","example":2},"type":{"type":"string","description":"Type of message","example":"message"},"payload":{"type":"object","description":"Payload details","properties":{"id":{"type":"string","description":"ID of the message","example":"wamid.HBgMOTE4ODcxNjAxMjk3FQIAERgSMUE3Q0NEMEEyRDJERDE5MDE2AA=="},"source":{"type":"string","description":"Source phone number","example":"919987636339"},"type":{"type":"string","description":"Type of payload","example":"text"},"payload":{"type":"object","description":"Actual content of the message","properties":{"text":{"type":"string","description":"Text content of the message","example":"I saw this on Facebook..."}}},"sender":{"type":"object","description":"Sender details","properties":{"phone":{"type":"string","description":"Sender's phone number","example":"919987636339"},"name":{"type":"string","description":"Sender's name","example":"Akhil"},"country_code":{"type":"string","description":"Country code of the sender","example":"91"},"dial_code":{"type":"string","description":"Dial code of the sender","example":"9987636339"}}},"referral":{"type":"object","description":"Referral details","properties":{"headline":{"type":"string","description":"Headline of the referral","example":"Chat with us"},"body":{"type":"string","description":"Body text of the referral","example":"Test"},"source_type":{"type":"string","description":"Source type of the referral","example":"post"},"source_id":{"type":"string","description":"Source ID of the referral","example":"120210642299930789"},"source_url":{"type":"string","description":"Source URL of the referral","example":"https://fb.me/1YP0xj1RjB4Kzz4"},"ctwa_clid":{"type":"string","description":"Click ID of the referral","example":"dd8fb67f-cec6-4ec2-9089-db557e9276d2"}}}}}}},"fepMessageTimestamp":{"type":"integer","description":"Timestamp of the FEP message in milliseconds","example":1723595226000},"currentMilestoneIndex":{"type":"integer","description":"Current milestone index in the retargeting process","example":0},"clickId":{"type":"string","description":"Click ID associated with the lead","example":"dd8fb67f-cec6-4ec2-9089-db557e9276d2"},"numberOfRetargetsSent":{"type":"integer","description":"Number of retargeting messages sent","example":0},"retargetingSentEvents":{"type":"array","description":"List of retargeting events sent","items":{"type":"object","properties":{}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}},"404":{"description":"Not found. The provided lead ID or service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"details":{"type":"array","description":"List of specific error details","items":{"type":"object","properties":{"field":{"type":"string","description":"The field that caused the error"},"message":{"type":"string","description":"Specific error message"}}},"example":[{"field":"serviceId","message":"Invalid service ID"},{"field":"leadId","message":"Lead not found"}]}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":500},"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while retrieving lead details"},"details":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Detailed error message","example":"Internal Server Error"}}}}}}}}}},"tags":["Lead"]}},"/api/v2/services/{ctxServiceId}/leads":{"get":{"summary":"Retrieve a list of leads associated with a service","description":"This endpoint retrieves a list of leads associated with the specified service. The results can be filtered, paginated, and returned in different formats such as JSON or CSV. Additional information, such as a summary of the leads, can also be included.","parameters":[{"in":"path","name":"ctxServiceId","required":true,"schema":{"type":"string"},"description":"The ID of the service whose leads are being retrieved"},{"in":"header","name":"apiKey","required":true,"schema":{"type":"string"},"description":"The API key associated with the service"},{"in":"query","name":"format","required":false,"schema":{"type":"string","enum":["json","csv"],"default":"json"},"description":"The format of the response (either 'json' or 'csv')"},{"in":"query","name":"summary","required":false,"schema":{"type":"boolean","default":true},"description":"Whether to include a summary of leads in the response"},{"in":"query","name":"size","required":false,"schema":{"type":"integer","default":5},"description":"The number of leads to retrieve per page"},{"in":"query","name":"page","required":false,"schema":{"type":"integer","default":0},"description":"The page number to retrieve"},{"in":"query","name":"adId","required":false,"schema":{"type":"string"},"description":"Filter leads by a specific ad ID"},{"in":"query","name":"externalAdId","required":false,"schema":{"type":"string"},"description":"Filter leads by a specific external ad ID"}],"responses":{"200":{"description":"A list of leads retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"leads":{"type":"array","items":{"type":"object","properties":{"leadId":{"type":"string","description":"The ID of the lead"},"adId":{"type":"string","description":"The ID of the ad associated with the lead"},"customerPhoneNumber":{"type":"string","description":"The phone number of the customer"},"leadStatus":{"type":"string","description":"The current status of the lead"},"createdTimestamp":{"type":"integer","description":"Timestamp of when the lead was created"}}}},"paging":{"type":"object","properties":{"totalResults":{"type":"integer","description":"Total number of leads"},"totalPages":{"type":"integer","description":"Total number of pages"},"page":{"type":"integer","description":"Current page number"},"size":{"type":"integer","description":"Number of leads per page"}}},"summary":{"type":"object","properties":{"totalLeadsSuccessWithRetargeting":{"type":"integer","description":"Total leads that succeeded with retargeting"},"totalLeadsSuccessWithoutRetargeting":{"type":"integer","description":"Total leads that succeeded without retargeting"},"totalLeads":{"type":"integer","description":"Total number of leads"},"totalLeadsTimedOut":{"type":"integer","description":"Total number of leads that timed out"}}}}}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Detailed error message explaining the invalid parameters"}}}}}},"401":{"description":"Unauthorized - API key is missing or invalid","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Detailed error message explaining the authorization failure"}}}}}},"403":{"description":"Forbidden - The API key does not have permission to access this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Detailed error message explaining the access restriction"}}}}}},"404":{"description":"Not Found - The service or leads could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Detailed error message explaining that the requested resource could not be found"}}}}}},"500":{"description":"Internal Server Error - An unexpected error occurred on the server","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Detailed error message explaining the server error"}}}}}}},"tags":["Lead"]}},"/api/v2/services/{serviceId}/lead-retargeting-schedule":{"post":{"summary":"Update lead retargeting schedule","description":"Updates the retargeting schedule for a lead within a specific service.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","description":"The action to perform on the lead retargeting schedule","enum":["put"],"example":"put"},"data":{"type":"object","description":"The data for updating the lead retargeting schedule","properties":{"customerPhoneNumber":{"type":"string","description":"Phone number of the customer","example":"8918728999"},"retargetingLeadSchedule":{"type":"object","description":"The retargeting schedule details","properties":{"goal":{"type":"object","description":"Goal details for the retargeting schedule","properties":{"id":{"type":"string","description":"Goal ID","example":"f118f7ab-8ed6-478d-bf3e-df7b749b8f30"},"version":{"type":"string","description":"Goal version ID","example":"2c6ea91a-e522-4854-906a-578053d8886b"}}},"retargetingIntervals":{"type":"array","description":"List of retargeting intervals","items":{"type":"object","properties":{"trigger":{"type":"object","description":"The trigger details for the retargeting interval","properties":{"type":{"type":"string","description":"The type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"The value associated with the trigger","example":3600000},"comparator":{"type":"string","description":"Comparator for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Milestone index associated with the trigger","example":2}}},"action":{"type":"object","description":"The action details for the retargeting interval","properties":{"type":{"type":"string","description":"The type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"121221"}}}}}}}}}}}},"example":{"action":"put","data":{"customerPhoneNumber":"8918728999","retargetingLeadSchedule":{"goal":{"id":"f118f7ab-8ed6-478d-bf3e-df7b749b8f30","version":"2c6ea91a-e522-4854-906a-578053d8886b"},"retargetingIntervals":[{"trigger":{"type":"TIME_FIXED_INTERVAL","value":3600000,"comparator":"<","milestoneIndex":2},"action":{"type":"WA_TEMPLATE_MESSAGE","templateId":"121221"}},{"trigger":{"type":"TIME_NEXT_DAY_AT","timeOfDay":43200000,"minDelay":3600000,"comparator":"<","milestoneIndex":2},"action":{"type":"WA_TEMPLATE_MESSAGE","templateId":"121221"}}]}}}}}},"responses":{"200":{"description":"Lead retargeting schedule updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"leadId":{"type":"string","description":"Unique ID of the lead that was updated","example":"ed8df0a8-2b21-41d7-9e34-0890d46a438a"}}}}}},"400":{"description":"Bad request. Validation failed for one or more fields.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Error status","example":"error"},"errors":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The field that caused the validation error","example":"action"},"message":{"type":"string","description":"Validation error message","example":"action must be 'put'"}}}}}},"examples":{"invalid_action":{"summary":"Invalid action value","value":{"status":"error","errors":[{"field":"action","message":"action must be 'put'"}]}},"missing_data":{"summary":"Missing or invalid data object","value":{"status":"error","errors":[{"field":"data","message":"data is required and must be an object"}]}},"invalid_customerPhoneNumber":{"summary":"Invalid phone number","value":{"status":"error","errors":[{"field":"data.customerPhoneNumber","message":"Invalid phone number"}]}},"missing_goal_id":{"summary":"Missing goal ID","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.goal.id","message":"Goal ID is required"}]}},"missing_goal_version":{"summary":"Missing goal version ID","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.goal.version","message":"Goal version ID is required"}]}},"invalid_retargetingIntervals":{"summary":"Invalid retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals","message":"retargetingIntervals must be a non-empty array"}]}},"invalid_trigger_type":{"summary":"Invalid trigger type in retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals[0].trigger.type","message":"Trigger type should be one of [TIME_FIXED_INTERVAL, TIME_NEXT_DAY_AT, TIME_EXACT]"}]}},"invalid_trigger_comparator":{"summary":"Invalid trigger comparator in retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals[0].trigger.comparator","message":"Trigger comparator is invalid"}]}},"missing_milestoneIndex":{"summary":"Missing milestone index in retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals[0].trigger.milestoneIndex","message":"Trigger milestoneIndex is required"}]}},"invalid_action_type":{"summary":"Invalid action type in retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals[0].action.type","message":"Action type should be 'WA_TEMPLATE_MESSAGE'"}]}},"missing_templateId":{"summary":"Missing template ID in retargeting intervals","value":{"status":"error","errors":[{"field":"data.retargetingLeadSchedule.retargetingIntervals[0].action.templateId","message":"Action templateId is required"}]}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}}}}},"tags":["Lead"]}},"/api/v2/services/{serviceId}/retargeting-schedules":{"post":{"summary":"Create Retargeting Schedule","description":"Creates a retargeting schedule for the specified service, including trigger intervals and actions.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"goal":{"type":"object","description":"The goal information","properties":{"id":{"type":"string","description":"ID of the goal","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"version":{"type":"string","description":"Version ID of the goal","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"}}},"retargetingIntervals":{"type":"array","description":"List of retargeting intervals with trigger and action details","items":{"type":"object","properties":{"trigger":{"type":"object","description":"Trigger details for the retargeting action","properties":{"type":{"type":"string","description":"Trigger type (TIME_FIXED_INTERVAL or TIME_NEXT_DAY_AT)","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"The time interval value in milliseconds","example":3600000},"comparator":{"type":"string","description":"Comparator for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Index of the milestone","example":2},"timeOfDay":{"type":"integer","description":"Time of day in milliseconds for TIME_NEXT_DAY_AT triggers","example":43200000},"minDelay":{"type":"integer","description":"Minimum delay in milliseconds","example":3600000}}},"action":{"type":"object","description":"Action details for the retargeting trigger","properties":{"type":{"type":"string","description":"Action type (WA_TEMPLATE_MESSAGE)","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the message","example":"121221"}}}}}}}}}}},"responses":{"200":{"description":"Retargeting schedule created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"retargetingScheduleId":{"type":"string","description":"Unique ID of the retargeting schedule","example":"f6690160-3b5f-4b7f-8b26-00fed0099a70"}}}}}},"400":{"description":"Bad request. Invalid input data.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"msg":{"type":"string"},"path":{"type":"string"},"location":{"type":"string"}},"example":[{"type":"field","msg":"Goal version ID is required","path":"goal.version","location":"body"},{"type":"field","msg":"Goal ID is required","path":"goal.id","location":"body"},{"type":"field","msg":"Invalid value","path":"retargetingIntervals","location":"body"},{"type":"field","msg":"Trigger type is required","path":"retargetingIntervals[0].trigger.type","location":"body"},{"type":"field","msg":"Invalid comparator value","path":"retargetingIntervals[0].trigger.comparator","location":"body"},{"type":"field","msg":"Trigger milestoneIndex is required","path":"retargetingIntervals[0].trigger.milestoneIndex","location":"body"},{"type":"field","msg":"Trigger type should be one of TIME_FIXED_INTERVAL, TIME_NEXT_DAY_AT","path":"retargetingIntervals[0].trigger.type","location":"body"},{"type":"field","msg":"For TIME_NEXT_DAY_AT, timeOfDay cannot be empty or negative","path":"retargetingIntervals[1].trigger.timeOfDay","location":"body"},{"type":"field","msg":"For TIME_NEXT_DAY_AT, minDelay cannot be empty or negative","path":"retargetingIntervals[1].trigger.minDelay","location":"body"},{"type":"field","msg":"Some template IDs are not valid for the service","path":"retargetingIntervals[0].action.templateId","location":"body"}]}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid apikey"}]}}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"example":[{"message":"Invalid service ID"}]}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal Server Error - An unexpected error occurred while creating the retargeting schedule"}}}}}}},"tags":["Retargeting"]},"get":{"summary":"Get Retargeting Schedules","description":"Retrieves retargeting schedules for the specified service with pagination.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"query","name":"page","required":true,"description":"Page number for pagination","schema":{"type":"integer","example":0}},{"in":"query","name":"size","required":true,"description":"Number of results per page","schema":{"type":"integer","example":1}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Retargeting schedules retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"retargetingSchedules":{"type":"array","items":{"type":"object","properties":{"retargetingScheduleId":{"type":"string","description":"Unique ID of the retargeting schedule","example":"f6690160-3b5f-4b7f-8b26-00fed0099a70"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"goal":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID of the goal","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"version":{"type":"string","description":"Version ID of the goal","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"}}},"retargetingIntervals":{"type":"array","items":{"type":"object","properties":{"trigger":{"type":"object","properties":{"type":{"type":"string","description":"Type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Interval value in milliseconds","example":3600000},"comparator":{"type":"string","description":"Comparator for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Index of the milestone","example":2}}},"action":{"type":"object","properties":{"type":{"type":"string","description":"Action type","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"121221"}}}}}}}}},"paging":{"type":"object","properties":{"totalResults":{"type":"integer","description":"Total number of results","example":10},"totalPages":{"type":"integer","description":"Total number of pages","example":5},"page":{"type":"integer","description":"Current page number","example":0},"size":{"type":"integer","description":"Number of results per page","example":1}}}}}}}},"400":{"description":"Bad request. Invalid input parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of error"},"msg":{"type":"string","description":"Error message"},"path":{"type":"string","description":"Path of the error"},"location":{"type":"string","description":"Location of the error"}},"example":[{"type":"field","msg":"Invalid value","path":"page","location":"query"},{"type":"field","msg":"Invalid value","path":"size","location":"query"},{"type":"field","value":"-1","msg":"Invalid value","path":"page","location":"query"}]}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"example":{"message":"Invalid apikey"}}}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"example":{"message":"Invalid service ID"}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while retrieving the retargeting schedules"}}}}}}},"tags":["Retargeting"]}},"/api/v2/services/{serviceId}/retargeting-schedules/{retargetingScheduleId}":{"get":{"summary":"Get Retargeting Schedule","description":"Retrieves the retargeting schedule for a specified service and retargeting schedule ID.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"}},{"in":"path","name":"retargetingScheduleId","required":true,"description":"Unique ID of the retargeting schedule","schema":{"type":"string","example":"3d176bbe-1b72-47f2-a4e7-f80cd8c9a970"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Retargeting schedule retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"retargetingScheduleId":{"type":"string","description":"Unique ID of the retargeting schedule","example":"f6690160-3b5f-4b7f-8b26-00fed0099a70"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a83b94e4-8970-4a82-9f84-8b2968c6c589"},"retargetingSchedule":{"type":"object","properties":{"goal":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID of the goal","example":"5f4c21d3-b20e-4a64-9e26-245a2b6fd04f"},"version":{"type":"string","description":"Version ID of the goal","example":"6466effd-35ac-448a-ac48-7c44037f6ddf"}}},"retargetingIntervals":{"type":"array","items":{"type":"object","properties":{"trigger":{"type":"object","properties":{"type":{"type":"string","description":"Trigger type for retargeting interval","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Interval value in milliseconds","example":3600000},"comparator":{"type":"string","description":"Comparator used in the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Milestone index for the trigger","example":2}}},"action":{"type":"object","properties":{"type":{"type":"string","description":"Type of action to be performed","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the WA message","example":"121221"}}}}}}}}}}}}},"400":{"description":"Bad request. Invalid input parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of error"},"msg":{"type":"string","description":"Error message"},"path":{"type":"string","description":"Path of the error"},"location":{"type":"string","description":"Location of the error"}},"example":[{"type":"field","msg":"Invalid service ID","path":"serviceId","location":"path"}]}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"example":{"message":"Invalid apikey"}}}}}}}},"404":{"description":"Not found. The provided service ID or retargeting schedule ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"example":{"message":"Invalid service ID"}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while fetching the retargeting schedule"}}}}}}},"tags":["Retargeting"]}},"/api/v2/services/{serviceId}/oauth/facebook/login-url":{"get":{"summary":"Get Facebook OAuth login URL","description":"Generates a Facebook OAuth login URL for the specified service to allow linking a Facebook account.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Successfully generated the Facebook OAuth login URL","content":{"application/json":{"schema":{"type":"object","properties":{"loginURL":{"type":"string","description":"The generated Facebook OAuth login URL","example":"https://a3a8-2402-e280-3de0-131-800-3b7b-c4da-ccc8.ngrok-free.app/api/v2/services/92892723-d6e9-4aa5-b0d8-b66fe0533dd8/oauth/facebook/callback?linkId=72dd3d77f107cc5aa22ded785cb11abdfd7e47fdcee7fdeda29d9317e0931ab5&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsaW5rSWQiOiI3MmRkM2Q3N2YxMDdjYzVhYTIyZGVkNzg1Y2IxMWFiZGZkN2U0N2ZkY2VlN2ZkZWRhMjlkOTMxN2UwOTMxYWI1IiwiY3R4U2VydmljZUlkIjoiOTI4OTI3MjMtZDZlOS00YWE1LWIwZDgtYjY2ZmUwNTMzZGQ4IiwiaWF0IjoxNzIzNDQ0Nzk3LCJleHAiOjE3MjM3MDM5OTd9.LcQGeF0xWCoExlqOS8DIaWFDkR-fP7F_bhjmr1z6JdY"},"linkId":{"type":"string","description":"The unique ID linking the OAuth request","example":"72dd3d77f107cc5aa22ded785cb11abdfd7e47fdcee7fdeda29d9317e0931ab5"},"token":{"type":"string","description":"The token associated with the OAuth request","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsaW5rSWQiOiI3MmRkM2Q3N2YxMDdjYzVhYTIyZGVkNzg1Y2IxMWFiZGZkN2U0N2ZkY2VlN2ZkZWRhMjlkOTMxN2UwOTMxYWI1IiwiY3R4U2VydmljZUlkIjoiOTI4OTI3MjMtZDZlOS00YWE1LWIwZDgtYjY2ZmUwNTMzZGQ4IiwiaWF0IjoxNzIzNDQ0Nzk3LCJleHAiOjE3MjM3MDM5OTd9.LcQGeF0xWCoExlqOS8DIaWFDkR-fP7F_bhjmr1z6JdY"},"expiresAt":{"type":"string","format":"date-time","description":"Expiration time of the generated token","example":"2024-08-15T06:39:57.863Z"}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"404":{"description":"Service not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}}}}},"tags":["Meta Connect"]}},"/api/v2/services/{serviceId}/oauth/facebook/sync":{"get":{"summary":"Sync Facebook Ads information","description":"Syncs the Facebook Ads information for the specified service. This includes fetching the profile, pages, and ads related to the Facebook account linked to the service.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Sync completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"Sync Completed successfully"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"},"profile":{"type":"object","description":"Facebook profile information"},"pages":{"type":"array","description":"List of Facebook pages linked to the account","items":{"type":"object"}},"ads":{"type":"array","description":"List of Facebook ads linked to the account","items":{"type":"object"}}}}}}},"400":{"description":"Bad request. This could be due to various reasons like missing access token or failure in fetching ads.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message explaining the failure","example":"Unable to fetch the list of ads since we don't have the access token for the service."}}}}}},"examples":{"no_access_token":{"summary":"Missing access token","value":{"errors":[{"message":"Unable to fetch the list of ads since we don't have the access token for the service."}]}},"fetch_ads_failure":{"summary":"Failed to fetch ads by Ad ID","value":{"status":400,"message":"Failed to retrieve fetch Ad by Ad ID for 01291381371311212","error":true,"errors":[{"message":"Failed to fetch Facebook Ads Information by Ad Id - 01291381371311212 for service Id - a66b72c2-b428-4442-b3fc-9e061b5ec268"}]}},"unable_to_fetch_ads":{"summary":"General failure in fetching ads","value":{"errors":[{"message":"Unable to fetch the list of ads for the service."}]}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"404":{"description":"Service not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"An unexpected error occurred."}}}}}}}}}},"tags":["Meta Connect"]}},"/api/v2/services/{serviceId}/ads":{"post":{"summary":"Create a new Ad for a service","description":"Creates a new Ad associated with the specified service. The Ad will be linked to an external Ad ID and a retargeting schedule.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"externalAdId":{"type":"string","description":"The external Ad ID associated with the Ad","example":"120210436947950789"},"retargetingScheduleId":{"type":"string","description":"The ID of the retargeting schedule to be associated with the Ad","example":"3d176bbe-1b72-47f2-a4e7-f80cd8c9a970"}}}}}},"responses":{"200":{"description":"Ad created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"adId":{"type":"string","description":"Unique ID of the created Ad","example":"168efad0-edd1-4878-a230-e9abcb5e1389"},"externalAdId":{"type":"string","description":"The external Ad ID associated with the created Ad","example":"120210341382760789"},"retargetingScheduleId":{"type":"string","description":"The ID of the retargeting schedule associated with the Ad","example":"3d176bbe-1b72-47f2-a4e7-f80cd8c9a970"},"retargetingSchedule":{"type":"object","description":"Details of the retargeting schedule associated with the Ad","properties":{"name":{"type":"string","description":"Name of the retargeting schedule","example":"default retargeting schedule"},"retargetingIntervals":{"type":"array","description":"List of retargeting intervals","items":{"type":"object","properties":{"trigger":{"type":"object","description":"The trigger details for the retargeting interval","properties":{"type":{"type":"string","description":"The type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"The value associated with the trigger","example":3600000},"comparator":{"type":"string","description":"Comparator for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Milestone index associated with the trigger","example":1}}},"action":{"type":"object","description":"The action details for the retargeting interval","properties":{"type":{"type":"string","description":"The type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"dd788bc7-63a8-4fbf-a01d-06a4e33a537b"}}}}}},"goal":{"type":"object","description":"Goal associated with the retargeting schedule","properties":{"id":{"type":"string","description":"Goal ID","example":"c459fd52-f991-451f-963f-f76dcf82276d"},"version":{"type":"string","description":"Goal version ID","example":"773cc748-13f6-43fc-8727-4ec3cc0d143f"}}}}}}}}}},"400":{"description":"Bad request. This could be due to various validation errors or if the Ad with the given external Ad ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","description":"HTTP status code","example":400},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message explaining the failure","example":"Failed to create Ad - Ad with external Ad Id - 120210436947950789 already exists"}}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Failed to create Ad"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Detailed error message","example":"Internal Server Error"}}}}}}}}}},"tags":["Meta Ads"]},"get":{"summary":"List ads","description":"Retrieves a list of ads for a specific service, with optional filtering by externalAdId, adSetId, and retargetingScheduleId.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"query","name":"page","required":true,"description":"Page number for pagination","schema":{"type":"integer","example":0}},{"in":"query","name":"size","required":true,"description":"Number of records per page","schema":{"type":"integer","example":5}},{"in":"query","name":"externalAdId","required":false,"description":"Filter by specific external ad ID","schema":{"type":"string","example":"120210642299930789"}},{"in":"query","name":"adSetId","required":false,"description":"Filter by specific ad set ID","schema":{"type":"string","example":"120210642299930789"}},{"in":"query","name":"retargetingScheduleId","required":false,"description":"Filter by specific retargeting schedule ID","schema":{"type":"string","example":"3d176bbe-1b72-47f2-a4e7-f80cd8c9a970"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Ads retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"ads":{"type":"array","description":"List of ads","items":{"type":"object","properties":{"_id":{"type":"string","description":"Unique ID of the ad record","example":"66bc7b7af4e6408f1166dd1c"},"adId":{"type":"string","description":"Unique ID of the ad","example":"83d1298d-dcb4-4a4b-9abc-30086acf330f"},"externalAdId":{"type":"string","description":"External ID of the ad","example":"120210642299930789"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a66b72c2-b428-4442-b3fc-9e061b5ec268"},"isAdSyncedWithMeta":{"type":"boolean","description":"Indicates if the ad is synced with Meta","example":false},"retargetingScheduleId":{"type":"string","description":"Unique ID of the retargeting schedule","example":"3d176bbe-1b72-47f2-a4e7-f80cd8c9a970"},"retargetingSchedule":{"type":"object","description":"Retargeting schedule details","properties":{"name":{"type":"string","description":"Name of the retargeting schedule","example":"default retargeting schedule"},"retargetingIntervals":{"type":"array","description":"List of retargeting intervals","items":{"type":"object","properties":{"trigger":{"type":"object","description":"Trigger details for the interval","properties":{"type":{"type":"string","description":"Type of trigger","example":"TIME_FIXED_INTERVAL"},"value":{"type":"integer","description":"Trigger value in milliseconds","example":3600000},"comparator":{"type":"string","description":"Comparator used for the trigger","example":"<"},"milestoneIndex":{"type":"integer","description":"Milestone index associated with the trigger","example":1}}},"action":{"type":"object","description":"Action details for the interval","properties":{"type":{"type":"string","description":"Type of action","example":"WA_TEMPLATE_MESSAGE"},"templateId":{"type":"string","description":"Template ID for the action","example":"dd788bc7-63a8-4fbf-a01d-06a4e33a537b"}}}}}},"goal":{"type":"object","description":"Goal details associated with the retargeting schedule","properties":{"id":{"type":"string","description":"Unique ID of the goal","example":"c459fd52-f991-451f-963f-f76dcf82276d"},"version":{"type":"string","description":"Version of the goal","example":"773cc748-13f6-43fc-8727-4ec3cc0d143f"}}}}}}}},"paging":{"type":"object","description":"Pagination details","properties":{"totalResults":{"type":"integer","description":"Total number of results","example":1},"totalPages":{"type":"integer","description":"Total number of pages","example":1},"page":{"type":"integer","description":"Current page number","example":0},"size":{"type":"integer","description":"Number of records per page","example":1}}}}}}}},"400":{"description":"Bad request. Invalid query parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the error","example":"field"},"msg":{"type":"string","description":"Error message","example":"Invalid value"},"path":{"type":"string","description":"The path of the error","example":"size"},"page_error":{"description":"Error related to the `page` parameter","example":"Invalid value"},"size_error":{"description":"Error related to the `size` parameter","example":"Invalid value"}}}}}}}}},"401":{"description":"Unauthorized. Invalid API key provided.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid apikey"}}}}}}}}},"404":{"description":"Not found. The provided service ID is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Error message","example":"Invalid service ID"}}}}}}}}},"500":{"description":"Internal server error. Something went wrong on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal Server Error - An unexpected error occurred while fetching ads"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","description":"Detailed error message","example":"Internal Server Error - An unexpected error occurred while fetching ads"}}}}}}}}}},"tags":["Meta Ads"]}},"/api/v2/services/{serviceId}/ads/ad-insights":{"get":{"summary":"Get Ad Insights","description":"Retrieves ad insights for all ads within a given service, optionally filtered by start and end timestamps, ad ID, external ad ID, and summary.","parameters":[{"in":"path","name":"serviceId","required":true,"description":"Unique ID of the service","schema":{"type":"string","example":"10978316-26a4-46f5-ae40-2c7dd2daa3ec"}},{"in":"query","name":"startTimestamp","required":true,"description":"Start timestamp in milliseconds","schema":{"type":"integer","example":1723424912000}},{"in":"query","name":"endTimestamp","required":true,"description":"End timestamp in milliseconds","schema":{"type":"integer","example":1724116139000}},{"in":"query","name":"summary","required":false,"description":"Include a summary of the ad insights","schema":{"type":"boolean","example":true}},{"in":"query","name":"adId","required":false,"description":"Filter by specific ad ID","schema":{"type":"string","example":"83d1298d-dcb4-4a4b-9abc-30086acf330f"}},{"in":"query","name":"externalAdId","required":false,"description":"Filter by specific external ad ID","schema":{"type":"string","example":"120210642299930789"}},{"in":"header","name":"apikey","required":true,"schema":{"type":"string"},"description":"CTX Service API key needed to authorize requests"}],"responses":{"200":{"description":"Ad insights retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"summary":{"type":"object","description":"Summary of the ad insights (if requested)","properties":{"totalLeadsSuccessWithRetargeting":{"type":"integer","example":0},"totalLeadsSuccessWithoutRetargeting":{"type":"integer","example":0},"totalLeadsSuccess":{"type":"integer","example":0},"totalLeadsTimedOut":{"type":"integer","example":0},"totalLeads":{"type":"integer","example":2},"costPerLead":{"type":"number","format":"float","example":64.365},"totalImpressions":{"type":"integer","example":280},"totalReach":{"type":"integer","example":260},"avgCpc":{"type":"number","format":"float","example":5.36375},"avgCpm":{"type":"number","format":"float","example":459.75},"avgCpp":{"type":"number","format":"float","example":495.115385},"avgCtr":{"type":"number","format":"float","example":8.571429},"totalClicks":{"type":"integer","example":24},"totalSpend":{"type":"number","format":"float","example":128.73},"avgCostPerInlineLinkClick":{"type":"number","format":"float","example":9.902308},"avgCostPerUniqueInlineLinkClick":{"type":"number","format":"float","example":9.902308},"avgCostPerUniqueClick":{"type":"number","format":"float","example":7.151667},"avgFrequency":{"type":"number","format":"float","example":1.076923},"totalInlineLinkClicks":{"type":"integer","example":13},"avgInlineLinkClicksCtr":{"type":"number","format":"float","example":4.642857}}},"adInsights":{"type":"array","description":"List of ad insights","items":{"type":"object","properties":{"adId":{"type":"string","description":"Unique ID of the ad","example":"83d1298d-dcb4-4a4b-9abc-30086acf330f"},"externalAdId":{"type":"string","description":"External ID of the ad","example":"120210642299930789"},"formattedDate":{"type":"string","description":"The date of the ad insights","example":"2024-08-14"},"serviceId":{"type":"string","description":"Unique ID of the service","example":"a66b72c2-b428-4442-b3fc-9e061b5ec268"},"actions":{"type":"array","description":"List of actions associated with the ad","items":{"type":"object","proper
[...]
